[2019-04-30 10:17] roman-dubrovsky opened #1 "Move all configs into separate directory"

[2019-04-30 10:25] roman-dubrovsky opened #2 "Split linter to there modules `core`, `rails` and `rspec`"
The main idea is adding separate modules for some specific rules:

`core` - which we're using for Ruby apps and gems (exclude rails specific rules)
`rails` - which we're using for Rails apps
`rspec` - which we're using for rspec tests

[2019-05-16 09:39] AleksSenkou opened #3 "Labels management"
For better issues management, we need a set of labels. Please, leave your version of labels in a comment to this issue

[2019-05-16 09:41] AleksSenkou opened #4 "Contribution rules"
For having a stable contribution process, we need to describe the rules of contribution and probably create a checklist with specific actions

Example - https://github.com/rails/rails/blob/master/CONTRIBUTING.md

[2019-05-16 09:42] AleksSenkou opened #5 "Release notes"
Release notes describe what should be done before the new release.

Example -  https://github.com/rails/rails/blob/master/RELEASING_RAILS.md

[2019-05-16 09:49] AleksSenkou opened #6 "Changelog notes"
Changelog is needed to compare versions and to keep information about what is added/changed/removed in the new version compared to the previous state of the gem

Example - https://github.com/olivierlacan/keep-a-changelog/blob/master/CHANGELOG.md

[2019-05-16 09:54] AleksSenkou opened #7 "Add note with our DR rules"
* [x] https://github.com/roman-dubrovsky/datarockets-style/blob/master/default.yml
* [x] Describe it in the README

[2019-05-16 09:55] AleksSenkou opened #8 "License should be for datarockets"
Create a new license that will keep gem's rights under DR company

[2019-05-16 09:56] AleksSenkou opened #9 "Issue and PR templates"
For keeping issues and PRs structured, it worth having templates with questions and reminders in initial issue and PR bodies

* [ ] Discuss and create a template for an issue

[2019-05-16 09:58] AleksSenkou opened #10 "Version badge"
For letting others know which is the gem's version, we want to use a version badge

[2019-05-17 10:22] roman-dubrovsky commented on #6
or https://github.com/rubocop-hq/rubocop/blob/master/CHANGELOG.md

[2019-05-17 10:23] roman-dubrovsky commented on #7
@AleksSenkou what about adding a separate md file (e.g. STYLEGUIDE.md) and describe our rule there

[2019-05-17 10:24] roman-dubrovsky commented on #8
I think MIT license is quite enough for us. But we need to correct it a little bit (e.g. change the owner)

[2019-05-17 10:25] roman-dubrovsky commented on #10
P.S. maybe we should release this gem before adding the version badge

[2019-05-17 13:55] AleksSenkou commented on #7
@roman-dubrovsky sounds good 👍
So we can add a link to that from the main README

[2019-05-17 14:05] AleksSenkou commented on #8
Sounds good 👍

[2019-05-20 14:10] roman-dubrovsky opened #11 "Rubocop Rails Config"
[code]

so just remove this shit for now

https://github.com/datarockets/datarockets-style/blob/c67d990be4a46e1c5e89274b05b392eeb0e27090/default.yml#L13-L15

[2019-05-20 14:26] roman-dubrovsky opened #12 "README revision"
I think we should double check readme before releasing and adds some useful links and information.

E.g.  link to rubocop doc and etc.

[2019-05-20 14:42] roman-dubrovsky opened #13 "Update versions"
I think we need to update rubocop to the latest version before releasing this gem

[2019-05-24 11:36] #11 closed

[2019-05-24 11:48] roman-dubrovsky opened #15 "Add some topics to repo"
See https://help.github.com/en/articles/about-topics

[2019-05-24 12:11] roman-dubrovsky commented on #3
My candidates:

- bug  - some runtime errors or some rule has described (in community or our rules) but isn't being checked
- duplicate - mostly for maintainers. Will set this label before closing some issues
- enhancement - for changing some markdown files, realesing new version and changing some processes (so I prefer to remove `process` label maybe after finishing all current issues)
- feature

[2019-05-24 13:16] roman-dubrovsky commented on #3
also, we can add `good first issue`

[2019-05-24 13:24] roman-dubrovsky commented on #4
@AleksSenkou I think this example is better for this gem https://github.com/rubocop-hq/rubocop/blob/master/CONTRIBUTING.md and we can use it as the base. Does it make sense?

[2019-05-24 13:28] roman-dubrovsky commented on #5
I think we can re-use this notes https://github.com/percy/percy-style/blob/master/RELEASING.md

Also, I prefer to add some words about versions convention

[2019-05-24 13:30] roman-dubrovsky commented on #4
Also, `Other ways to contribute` part looks nice

https://github.com/plataformatec/devise/blob/master/CONTRIBUTING.md#other-ways-to-contribute

[2019-05-24 18:25] roman-dubrovsky commented on #4
@AleksSenkou looks like project automatization does not work well 🤔

[2019-05-24 18:31] roman-dubrovsky commented on #3
also, we can add `dependencies` for issues and PRs for updating dependencies

[2019-05-27 08:40] roman-dubrovsky commented on #9
I really love faker's templates https://github.com/stympy/faker/tree/master/.github/ISSUE_TEMPLATE

[2019-05-27 08:41] roman-dubrovsky commented on #9
Also, I don't want to add PR templates.

[2019-05-27 17:47] roman-dubrovsky commented on #3
updated labels by comments above

[2019-05-27 17:47] #3 closed

[2019-05-28 08:51] #4 closed

[2019-05-28 08:51] #6 closed

[2019-05-28 08:51] #5 closed

[2019-05-28 12:55] roman-dubrovsky opened #19 "Style/ClassAndModuleChildren"
I prefer to use the Rails compact style but looks like there are some issues with it.

[code]

https://rubocop.readthedocs.io/en/latest/cops_style/#styleclassandmodulechildren
https://github.com/rubocop-hq/ruby-style-guide#namespace-definition

[2019-06-10 17:39] AleksSenkou commented on #15
Sounds good to me 👍

[2019-06-10 17:41] AleksSenkou commented on #12
Update: Moved to the very bottom of ToDo list as the last thing before releasing.

[2019-06-10 17:41] AleksSenkou commented on #10
@roman-dubrovsky for testing it or what the reason?

[2019-06-10 17:42] AleksSenkou commented on #9
@roman-dubrovsky sure, we can try to go without PR template and add it only if it will be needed. Removing from issue's description

[2019-06-10 19:14] roman-dubrovsky commented on #10
@AleksSenkou I don't really clear your question

[2019-06-11 10:18] AleksSenkou commented on #10
@roman-dubrovsky the reason for releasing gem before adding version badge isn't clear to me

[2019-06-11 10:53] roman-dubrovsky commented on #10
@AleksSenkou I'm just thinking that we need to sign up to ruby gems and release the gem before getting access to version badge

[2019-06-11 10:54] roman-dubrovsky commented on #10
like a badge for CircleCI (we're set up CircleCi before getting the CircleCI badge)

[2019-06-11 11:06] roman-dubrovsky commented on #10
@AleksSenkou does it make sense?

[2019-06-17 07:01] AleksSenkou commented on #10
@roman-dubrovsky yeah, it makes sense 👍

[2019-06-25 07:54] AleksSenkou commented on #9
@roman-dubrovsky thoughts about going without issue template as well?
we can have a process established at any time?

[2019-06-25 12:17] roman-dubrovsky commented on #9
yep, makes sense

[2019-06-25 12:33] #8 closed

[2019-06-27 09:17] #7 closed

[2019-06-27 09:32] #13 closed

[2019-06-27 11:21] roman-dubrovsky opened #24 "Add links to style guide doc for easier navigation"
I see here two good features:

1) We can make a table of contents with links to each topic

2) if you want to share some rule, you can just copy some link and associate it with some rule.

Probably, https://github.com/rubocop-hq/ruby-style-guide is a good example

[2019-06-27 11:27] AleksSenkou commented on #9
Closing. Can be reopened when makes sense

[2019-06-27 11:27] #9 closed

[2019-06-27 11:29] AleksSenkou commented on #15
Thoughts about:

`ruby`, `rubocop`, `linter`, `patch`

?

[2019-06-27 11:32] roman-dubrovsky commented on #15
@AleksSenkou why `patch`?

[2019-06-27 11:42] AleksSenkou commented on #15
@roman-dubrovsky cause I'd like to show that this repo has inherited rubocop's

[2019-06-27 12:00] #12 closed

[2019-06-27 12:03] AleksSenkou commented on #15
Done ✅

[2019-06-27 12:03] #15 closed

[2019-06-27 12:04] AleksSenkou opened #25 "Make note in the forum (so that other teams start using it)"
The team should be notified about internal linters we use

[2019-06-27 12:05] AleksSenkou commented on #25
@roman-dubrovsky do you have specific notes that you would like to share on the forum?

[2019-06-27 12:07] roman-dubrovsky commented on #25
@AleksSenkou I don't. Maybe just let's use and contribute it

[2019-06-27 12:37] #10 closed

[2019-06-27 12:42] roman-dubrovsky opened #27 "Error page on opening doc page on ruby gems"
When you go to the [rubygems](https://rubygems.org/gems/datarockets-style) and click on documentation links, you'll get this error

<img width="1920" alt="Screen Shot 2019-06-27 at 3 30 59 PM" src="https://user-images.githubusercontent.com/7738063/60267097-1696cd00-98f2-11e9-9c79-e174ac45f946.png">

As the current solution, let's redirect to the github page or just hide this button.

[2019-06-27 12:48] roman-dubrovsky opened #28 "Version backward compatibility and version number convention"
I have some issues with versions convention and should we added some needed version modifications to Readme, e.g ( gem 'datarockets-style', '~> 0.1.0' )

Also, we should remember that rubucop has not been released to the first version so they suggest using conservative version lock (see https://github.com/rubocop-hq/rubocop#installation )

First of all, I think we should re-read and remember about

[2019-06-27 21:45] roman-dubrovsky opened #29 "Do not check subject and use `is_expected` instead of it (Rspec)"
The general rule looks like: do not use `expect(subject)` or `expect(subject_name` and use `is_expected` instead of it.

[code]

I can find only this cop https://rubocop-rspec.readthedocs.io/en/latest/cops_rspec/#rspecnamedsubject which restrict using `subject` in tests and ask to use the subject name or `is_expected` (so the second example is correct). Also, I couldn't find related issues with th

[2019-07-01 09:50] roman-dubrovsky commented on #29
I found another rule. Looks like should not use `is_expected.to` into multiline tests.

https://rubocop-rspec.readthedocs.io/en/latest/cops_rspec/#rspecimplicitsubject

so

[code]

you thoughts?

[2019-07-01 10:02] roman-dubrovsky opened #30 "Required ruby version should be added"
Now it looks like

<img width="453" alt="Screen Shot 2019-07-01 at 12 59 55 PM" src="https://user-images.githubusercontent.com/7738063/60427850-3edb4000-9c00-11e9-8507-1c10e2d42551.png">

I think we should use the same required ruby versions as for rubucop.

[2019-07-01 11:57] bibikovilya commented on #29
`is_expected` looks the pretty for one-line tests. It can make confusion in multiline tests.
`subject` looks good when it represent the described class with simple `call` method.

[2019-07-01 12:02] roman-dubrovsky commented on #29
@bibikovilya and where big differences between these examples?

[code]

[2019-07-01 12:54] bibikovilya commented on #29
There is no difference between the examples. I mean when we have the other code besides `is_expected`.

[2019-07-01 13:39] roman-dubrovsky commented on #29
@bibikovilya I can't imagine it for now but maybe it makes sense. So as a summary, you're agreed with current rubocop rules

[2019-07-01 14:26] bibikovilya commented on #29
@roman-dubrovsky, not exactly. I think that

[code]

looks good without other code in `it` block. We can't check it via rubocop, I understand this.
But I think we need to allow [the next code](https://github.com/JumpDEMAND/activedemand/pull/1845#discussion-diff-298966768L29) for tests.

[2019-07-04 10:16] roman-dubrovsky opened #31 "Style/Documentation"
Will we disable this cop? And when? Only for app and rspec directories?

https://rubocop.readthedocs.io/en/latest/cops_style/#styledocumentation

[2019-07-04 10:17] roman-dubrovsky opened #32 "Style/FrozenStringLiteralComment"
Thought by this cop?

https://rubocop.readthedocs.io/en/latest/cops_style/#stylefrozenstringliteralcomment

[2019-07-04 10:26] roman-dubrovsky opened #33 "Indent hashes by the start of line"
I want to change a default rule for [this cop](Layout/IndentFirstHashElement). I wanna change . it to `consistent` value. It looks strange to me how we would use a hash with this rule. So examples after autocorrection:

[code]

Thoughts?

P.S. Looks like we have already had a similar rule for keyword arguments

[2019-07-04 10:31] roman-dubrovsky opened #34 "Indention for calls chain"
Similar to #33. I prefer to use `indented` rule (above is a bad example for me)

[code]

[2019-07-04 10:33] roman-dubrovsky opened #35 "Use hash style for AR queries"
Prefer a hash style that string style for AR queries

[code]

I think this rule should be included to the rails rubocop config so we don't need to add a separate rule

[2019-07-04 10:38] roman-dubrovsky opened #36 "Disable RSpec/NestedGroups rule"
https://rubocop-rspec.readthedocs.io/en/latest/cops_rspec/#rspecnestedgroups

What are your thoughts about this rule? Do we need to use it or not? I'm not really sure why this rule has been added but from my side looks like this cop can make tests a little bit readable but adds more duplications

[2019-07-05 11:45] roman-dubrovsky commented on #34
the same for params (cop Layout/AlignArguments )

[code]

[2019-07-05 16:10] roman-dubrovsky opened #37 "Rails: class methods or scope"
Just a question: when should we prefer to use rails scope and where class methods?

These are almost similar things ( one different. That if the lambda (or logic) returns nil, scope returns the current value in this, class method returns nil) See https://www.justinweiss.com/articles/should-you-use-scopes-or-class-methods/

Usually, I use the rule. I prefer to use `scope` for subqueries, but move i

[2019-07-05 16:16] TheBlackArroVV commented on #37
My thoughts about this, that we should use scope for returning some data. Just use a
[code]
But as all situation this has a corner case, i think, which i can't specify

[2019-07-08 14:18] roman-dubrovsky commented on #29
My idea is that `RSpec/NamedSubject` should be required (so each subject should have a name), otherwise `RSpec/ImplicitSubject` should be disabled so that the developer can make a decision where it should and should not use `is_expected`

As a code style rule, we can use something like

### Using subjdct

Each subject should be named and we should not use `subject` in our test cases. Prefer to use

[2019-07-09 11:23] TheBlackArroVV opened #39 "Multiline method call"
For now we use
[code]
But i think, that
[code]
is more readable.
What do you think?

[2019-07-09 12:15] roman-dubrovsky commented on #39
@TheBlackArroVV can you give me some more realistic example? Cause I don't think that this is looking more clear or readable.

First of all, this is a typical case. But let's imagine this method

[code]

Otherwise, this a huge indentation makes me crazy and this is needed to use additional line

[code]

[2019-07-09 12:55] TheBlackArroVV commented on #39
@roman-dubrovsky , your second example is what i mean. Yes, it takes additional line, but its looks more clear where arguments ends and starts method body

[2019-07-09 14:20] roman-dubrovsky commented on #39
well, I just don't think so

[2019-07-09 14:25] TheBlackArroVV commented on #39
So we need more thoughts about this

[2019-07-09 16:21] AleksSenkou commented on #39
[code]
I see an issue with such kind of code ^

Example: you need to change method's name -> you need to change the indentation of all lines with params -> craziness 😄

Looks like we won't have issues going with:
[code]

[2019-07-09 16:23] AleksSenkou commented on #37
I like one-line scopes and class methods for 1+ lines

For esthetic and  readability purposes

[2019-07-09 16:25] TheBlackArroVV commented on #39
[code]
For this code you will be also need to change it when method name will change
And if we write
[code]
All also will be good

[2019-07-09 16:29] AleksSenkou commented on #36
This one is tricky 😄

I like defining lets in related context blocks, otherwise why we need context block?
In most cases we have if/else logic covered by contexts so I haven't seen structure like:
[code]

Normally its:
[code]

Not sure how to configure this rule better

[2019-07-09 16:29] AleksSenkou commented on #35
Agreed 👍

[2019-07-09 16:34] AleksSenkou commented on #33
@roman-dubrovsky link in the description is broken. JFY

I personally prefer:
[code]

over:
[code]

The best for me is:
[code]

[2019-07-09 16:37] AleksSenkou commented on #32
@roman-dubrovsky what value it can bring to us?

I feel like it +1 line in every file, nothing more 🤔

[2019-07-09 16:39] AleksSenkou commented on #31
I'd disable it. Documentation by default sucks, it's really not needed everywhere

[2019-07-09 16:41] TheBlackArroVV commented on #32
It's makes strings immutabl
https://stackoverflow.com/questions/37799296/what-does-the-comment-frozen-string-literal-true-do

[2019-07-09 16:41] TheBlackArroVV commented on #32
But i don't really think it helps so much to live this comment in the top of file

[2019-07-09 16:49] AleksSenkou commented on #28
@roman-dubrovsky I don't think that we can maintain backward compatibility, especially when we change rules. For example, in 0.1.1 your rubocop will be green but in 0.1.2 red. And it's fine for lint gem

I guess we can have milestones and the main difference between 0.1 and 0.2. For ex, 0.2 should include all possible rules configurations. 0.3 has ability to use rials/rspec/api groups and so on

T

[2019-07-09 17:41] AleksSenkou commented on #2
@roman-dubrovsky can "rails" be different to "rails-api"? Looks like pretty the same, but maybe

[2019-07-10 09:14] AleksSenkou commented on #32
Yeah, that's the thing. I don't think it's worth it.

[2019-07-10 09:18] AleksSenkou commented on #39
@TheBlackArroVV let me explain it differently, looks like I didn't do it clear the previous time:

1. We have:
[code]
2. I'd like to rename `make_it` to `make_it_when_something`
[code]

As you can see we had to change the indentation of all the params which sucks

-------------------------------------------------------

My vote is for something where we don't need to change params' indentation all

[2019-07-10 12:08] #24 closed

[2019-07-10 12:12] roman-dubrovsky commented on #37
@TheBlackArroVV in fact, there are no big differences between scopes and class methods which returns an ActiveRecord relation.  So here I just agree with Aleks that we should avoid using multiline lamda calls for esthetic and readability purposes

[2019-07-10 12:13] roman-dubrovsky commented on #36
@AleksSenkou I can send you some examples if you want. Cause looks like this is a common case (especially for requests and capybara tests)

[2019-07-10 12:15] roman-dubrovsky commented on #33
@AleksSenkou I think so, I just sent here a git diff after rubocop autocorrection.

[2019-07-10 12:17] roman-dubrovsky commented on #2
@AleksSenkou I don't think so. For rails api we're using the same subjects (excluding templates but rubocop does not check template)

[2019-07-10 12:26] roman-dubrovsky commented on #32
read here https://freelancing-gods.com/2017/07/27/friendly-frozen-string-literals.html

This is just a performance improvement and fixes some issue with memory

[2019-07-10 12:27] roman-dubrovsky commented on #32
@dzhlobo do you have any thoughts?

[2019-07-10 12:43] roman-dubrovsky commented on #39
First of all, I think this issue related to #33 and #34 so I grouped it into one milestone.

@TheBlackArroVV  And here, I just agreed with Aleks here. And this is an example from my last PR

<img width="930" alt="Screen Shot 2019-07-10 at 3 40 49 PM" src="https://user-images.githubusercontent.com/7738063/60969897-6a110e00-a329-11e9-8094-bf837da00e87.png">

[2019-07-10 12:47] roman-dubrovsky commented on #39
also, looks like on all projects where we had started to use dynamic indentations we returned to static indentations in some time (and this works not only for ruby)

P.S. I think guys from glassfrog still have nightmares with this

[code]

[2019-07-10 12:49] roman-dubrovsky commented on #39
Also, if you don't line that the arguments and code have the same level, we just can make in bigger (e.g. 4)

[code]

Thoughts?

[2019-07-11 10:49] AleksSenkou commented on #36
@roman-dubrovsky it will be appreciated cause maybe I'm missing something

[2019-07-11 10:51] AleksSenkou commented on #32
@roman-dubrovsky yeah, it's clear. I just don't like this line at the beginning of a file. It damages the ability to read code faster for me. I don't mind to go with it anyway

[2019-07-11 20:30] lazycoder9 opened #40 "String Literal quotes"
Why double quotes on string literals are preferable?

[2019-07-15 11:55] roman-dubrovsky commented on #36
@AleksSenkou I just opened a first test file

[code]

[2019-07-15 11:56] roman-dubrovsky commented on #32
@AleksSenkou I agree that it looks annoying but I don't understand how `it damages the ability to read code faster`

[2019-07-15 11:58] roman-dubrovsky commented on #40
@lazycoder9 I don't exactly remember. This is just more useful for most datarockers (mostly me and @AleksSenkou ).

Also, in this case, we don't need to change the type of quotes on interpolation (which is really annoying) and can use `'` symbol (which is really useful on printing test descriptions)

[2019-07-15 12:58] roman-dubrovsky commented on #40
e.g.

[code]

[2019-07-15 16:04] lazycoder9 opened #41 "Rescued exception variable name"
After getting a comment from @AleksSenkou in project PR, decided to clarify how we should handle this rule. From my side, having the self-explained variable name (error) is better than just one character variable name (e)
[code]

[2019-07-15 16:07] lazycoder9 commented on #40
Heard different opinion from @AleksSenkou 😄 But, anyway, if everyone agree with this, had no questions)

[2019-07-15 16:09] dzhlobo commented on #40
I also was the one who advocated for double-quotes for the reasons @roman-dubrovsky described:

* no need to change them later when we need to add a `'` symbol or interpolation;
* all the string literals look the same.

[2019-07-15 16:15] AleksSenkou commented on #41
The same for me. None one-symbols variables because they pull down readability

[2019-07-15 16:17] DDKatch commented on #41
@lazycoder9 Am I missed something? I thought you're against single-letter variables, but look on the #good / #bad comments they're in opposite side to you.

[2019-07-15 16:20] AleksSenkou commented on #40
I don't like double-quotes.
* They take space and makes text unnecessary larger, for example: "apple" instead of 'apple'. Really? 😄
* They show that there is no interpolation or `'` symbol

[2019-07-15 16:26] AleksSenkou commented on #41
Especially crazy thing when:
[code]

We are novelists who write prose not cryptologists 😄

[2019-07-15 16:27] AleksSenkou commented on #36
@roman-dubrovsky looks good to me

[2019-07-15 16:28] lazycoder9 commented on #41
@DDKatch Oh, examples are just from documentation) And I don't like them

[2019-07-15 16:29] AleksSenkou commented on #32
@roman-dubrovsky I just used to see something useful at the very first line. Class/module definition or anything else, but not a helpless comment

[2019-07-15 16:31] DDKatch commented on #39
Even if it is [not conventional way](https://github.com/rubocop-hq/ruby-style-guide#no-trailing-params-comma), In this case I prefer this variant:
[code]
you can easily :
1) change method's name
2) add/remove params
3) read it (definitely better than @roman-dubrovsky example, I think)

[2019-07-15 16:43] DDKatch commented on #40
@AleksSenkou in your case better to use `:apple` 🙂

[2019-07-15 16:44] roman-dubrovsky commented on #40
@AleksSenkou didn't get your point?

[2019-07-15 16:46] roman-dubrovsky commented on #40
me too. I don't like double-quotes cause some performance issue. They need more time (need to click two buttons instead of one 😄 )

[2019-07-15 16:46] AleksSenkou commented on #40
@roman-dubrovsky I mean single-quotes show that the string is just string without overloading

[2019-07-15 16:47] roman-dubrovsky commented on #40
JFYI @DDKatch symbols are not equal strings

[2019-07-15 16:52] roman-dubrovsky commented on #41
@lazycoder9 can you send a link to documentation? Or to cop source code?

[2019-07-15 16:52] roman-dubrovsky commented on #32
🤷‍♂

[2019-07-15 16:54] TheBlackArroVV commented on #41
I believe, that some of them just don't need full names and very intuitive
Like
[code]

[2019-07-15 16:54] lazycoder9 commented on #41
@roman-dubrovsky https://rubocop.readthedocs.io/en/latest/cops_naming/#namingrescuedexceptionsvariablename here

[2019-07-15 16:56] DDKatch opened #42 "Time limit for opened issues"
I'm not really active here, however I found out a lot of issues 11+ days here are still opened. This styles are vital fo our current project, so I'd like to set up them earlier. I'm not pushing time schedule, but It would be cool to have some time limits for opened issues and some default behavior (usually it's reject as I saw in many repos)

So I propose:
1) to have 4 weeks limit for any issue
2)

[2019-07-15 16:59] roman-dubrovsky commented on #41
so it makes sense for me. But in this case I have a question, how will we fix it?

- use `exception` or `error` as a variable for errors ?
- just disable this rule?

[2019-07-15 17:03] roman-dubrovsky commented on #42
@DDKatch  no, I don't agree. Some issues I'm using as backlog and won't remove them. But if feel that some issue can be closed just ping a creator about it 😉

so feel free to implement some rule and push guys to make discussion and any decisions 😉. Also, we can add any rules for releases (e.g. one week from merged PR to master)

[2019-07-15 17:04] lazycoder9 commented on #41
I propose to use one of error/exception as a variable

[2019-07-15 17:14] DDKatch commented on #42
I don't like the practice to use issues as backlog platform at all. It's about all open source activities. Because it makes much harder for newbie to dig into project's needs(Prioritization issue). It's nice and cool that we have a lot of discussion here and I feel opensource breathing, but it's not spreading from our every project and I'd like just to have a single contributing process everywhere

[2019-07-15 17:17] roman-dubrovsky opened #44 "Note about forking PR"
https://github.com/datarockets/datarockets-style/pull/43#issuecomment-511489620

Looks like the note about forking can confuse other datarockers

[2019-07-15 17:20] roman-dubrovsky commented on #42
@DDKatch yes, but I believe that labels should help us in this case (e.g `postponed` for delayed issues, and `good first issue` and `help wanted` for newcomers.

But if says a true I didn't see on this problem before. Do you have any other solution so that we won't have much bureaucracy

[2019-07-15 19:50] roman-dubrovsky commented on #28
@AleksSenkou no, I don't want to do this plan by reasons:

1) There are special rules for versions (see https://semver.org/) so the patch versions we should use only for some bugs.

2) The main reason - I want to synchronize our versions with main rubocop library. So what do you think:

1) MAJOR VERSION -  synchronize with rubocop major version (when they release the first version we'll release it

[2019-07-15 19:57] roman-dubrovsky commented on #27
looks like ruby gems generate documentation automatically https://www.rubydoc.info/gems/datarockets-style/0.1.0

[2019-07-15 19:57] #27 closed

[2019-07-15 20:06] roman-dubrovsky opened #48 "PR templates"
I think it can be related with #9 issue.

Now I'm thinking about two types of templates:

1) New feature:

so that people do not forget that we need update not only rubocop config, I want to add a PR template with next steps of todo list:

* change rubocop config (the rubocop should be ordered by alphabet)
* add a note to the style guide doc (should by group by subjects)
* add a note to the change

[2019-07-16 07:05] AleksSenkou commented on #28
@roman-dubrovsky sounds good to me 👍

Did you think about milestones for having a stable minor version with most of our rules applied?

[2019-07-16 12:02] roman-dubrovsky commented on #28
yes, I'm doing it right now

[2019-07-16 12:02] #30 closed

[2019-07-16 12:06] roman-dubrovsky opened #50 "Update to RuboCop 0.73"
Todo:

* [x] check `rubocop-rspec`
* [x] check changle logs
* [x] update versions
* [x] check required ruby version
* [x] verify that new version works correctly
* [x] add changelog note

Links:

https://github.com/rubocop-hq/rubocop/releases/tag/v0.73.0

[2019-07-16 12:07] roman-dubrovsky commented on #28
@AleksSenkou https://github.com/datarockets/datarockets-style/milestone/1

[2019-07-16 12:31] roman-dubrovsky commented on #50
no, released `rubocop-rspec`. Continue using `1.33.0 `

[2019-07-16 12:32] #41 closed

[2019-07-16 12:32] AleksSenkou commented on #28
@roman-dubrovsky I see, looks great 👍

Will you include other copes-related issues in the milestone? Issues like this one - https://github.com/datarockets/datarockets-style/issues/32

[2019-07-16 12:34] roman-dubrovsky commented on #28
no, I don't want to add it to the current. Maybe on the next one

[2019-07-16 12:40] AleksSenkou commented on #28
@roman-dubrovsky what is the separation? How do you measure what to include and what not to include?

[2019-07-16 12:43] roman-dubrovsky commented on #28
@AleksSenkou no any criteria. I'm just not sure that #32 is ready to implement and want to get some more thoughts. And I don't want to block release via this issue.

Anyway, I don't have any processes how to create a list of issues.

[2019-07-16 12:45] roman-dubrovsky commented on #28
usually, I have my own plan in my mind which is a base of milestone list. Then I just add issues which other datarockers want and can implement

[2019-07-16 12:54] AleksSenkou commented on #28
Got it, I don't have an idea too.

[2019-07-17 10:02] #29 closed

[2019-07-17 10:17] AleksSenkou commented on #28
@roman-dubrovsky I like this one https://github.com/datarockets/datarockets-style/issues/28#issuecomment-511544115

[2019-07-17 10:21] #50 closed

[2019-07-17 10:22] #28 closed

[2019-07-17 10:28] roman-dubrovsky commented on #48
P.s. for updating dependencies needs to add (update Gemfile.lock)

[2019-07-17 10:43] roman-dubrovsky opened #52 "Clean up releases notes"
Change the ordering and add some more info

[2019-07-17 19:13] roman-dubrovsky commented on #40
@lazycoder9 can we discuss anything else here? Or we can close this issue?

[2019-07-17 19:15] roman-dubrovsky commented on #31
@AleksSenkou @lazycoder9 my question was: should we disable this cop in all cases? E.g. we can add some documentation for utils from `lib` directories and rake tasks. Does it make sense?

[2019-07-17 19:15] lazycoder9 commented on #40
@roman-dubrovsky think everything is clear. Can be closed

[2019-07-18 08:21] AleksSenkou commented on #40
@roman-dubrovsky does that mean that we go with double-quotes strings as default?

[2019-07-18 08:21] AleksSenkou commented on #31
@roman-dubrovsky it doesn't 😄

[2019-07-18 08:32] roman-dubrovsky commented on #40
yes, It does

[2019-07-18 08:33] roman-dubrovsky commented on #31
@AleksSenkou any thoughts? why it doesn't?

[2019-07-18 08:43] roman-dubrovsky commented on #40
@AleksSenkou also I'm wondering. Is `They show that there is no interpolation or ' symbol` a joke?

[2019-07-18 11:39] roman-dubrovsky commented on #31
also,  what about ruby gems?

[2019-07-18 13:26] AleksSenkou commented on #40
No, it's not a joke. single quotes show that the string is just a string.

[2019-07-18 13:27] AleksSenkou commented on #40
I don't like the fact that we didn't make voting or whatever to have results on which we can agree with one of the choices

[2019-07-18 13:30] AleksSenkou commented on #31
I believe we discussed it tones of times - code should document itself. Tests should document the behavior

If you want to document rack task usage - write clean code for that, else basic usage can be added to a project's README

[2019-07-18 13:30] AleksSenkou commented on #31
@roman-dubrovsky the same pattern if it's possible to write clean code

[2019-07-18 13:36] roman-dubrovsky commented on #40
and which reason for this. I can understand it for interpolated string (but also don't understand which benefit we have if the string with interpolation will have another type of quotes. Also, that is really annoying that we need to make some additional changes just for adding interpolation).

But why should we make some separation between string with and w/o  `'` symbol ? (they are just a string)

[2019-07-18 13:37] roman-dubrovsky commented on #40
@AleksSenkou why should we vote here? It was a `question` issue (no `feature request`) and @lazycoder9 accepted that we can close it after answering. Right?

[2019-07-18 13:51] roman-dubrovsky commented on #31
no, we didn't discuss it tones of times cause I don't believe in the rule `code should document itself` / . Yep, I agree that this is a perfect rule but:

1) it doesn't exclude adding some documentation.
2) it works well only for cases when we have stable patterns and you don't need to think much about implementation stuff. + clean code and easy-for-understanding code aren't the same things (someb

[2019-07-18 13:52] roman-dubrovsky commented on #31
@AleksSenkou are there big differents between README note and short documentation?

[2019-07-18 13:53] #52 closed

[2019-07-19 06:31] AleksSenkou commented on #40
@roman-dubrovsky I'd like clearly understand that most of us are on double-quotes or single-quotes side. I'd like not to have a situation when someone disagrees and just change cop on own project to use not what we agreed on.

Anyway, I'd go with voting on most of cops where we have polemic between people

@roman-dubrovsky it's true. I'm re-raising the question 😄
For me question is opened

[2019-07-19 06:38] AleksSenkou commented on #31
@roman-dubrovsky I don't mind using documentation if you want them so hot 😄

I personally left comments only several times, because of hacky solutions I used. Leaving comments can be useful, but it's like an exception from the rule

@roman-dubrovsky yeah, that's true. And it's really most of our cases.

-------------------------------------------------------

@roman-dubrovsky I saw the unreadable

[2019-07-19 06:39] AleksSenkou commented on #31
@roman-dubrovsky yeah, I add comments about some common for the project rack task for developers to understand which to use for which cases. When you have 20+ tasks, then it's craziness to open most of them to find useful for you. README as an aggregation

[2019-07-19 09:24] an-korn opened #54 "RSpec/SubjectStub cop"
Hey, guys, what do you think about this cop? Why should not we stub our subjects in tests? Because sometimes in tests we want to check whether subject receives some method, for example:
[code]

https://rubocop-rspec.readthedocs.io/en/latest/cops_rspec/#rspecsubjectstub

[2019-07-19 15:57] TheBlackArroVV commented on #42
I think, we can care about both variants
We can live some of issues as backlog
And for others add a voting about issue, so everyone can vote and then we can submit the voices and close the issue
Idea about votes was noticed by @AleksSenkou(https://github.com/datarockets/datarockets-style/issues/40#issuecomment-512815203)

[2019-07-22 08:57] roman-dubrovsky opened #55 "Rspec: use `not_to` instead of `to_not`"
Just English grammar

[code]

[2019-07-22 14:56] roman-dubrovsky opened #56 "Empty method style"
By default, the rubocop change empty method to the style above (and write it via single line)

[code]

But I prefer to do it as two lines. So what do you think about this rule?

[2019-07-22 15:01] roman-dubrovsky opened #57 "Rspec: disable Lint/AmbiguousBlockAssociation"
Let's disable `Lint/AmbiguousBlockAssociation  ` for Rspecs because of this https://github.com/rubocop-hq/rubocop/issues/4222

Any thoughts?

[2019-07-22 15:05] roman-dubrovsky commented on #56
cop `Style/EmptyMethod`

[2019-07-22 16:35] AleksSenkou commented on #57
Agreed 👍

[2019-07-22 16:35] AleksSenkou commented on #56
I do like two lines too

[2019-07-22 16:36] AleksSenkou commented on #55
Agree 👍

Do we have a cop for that? 🤔

[2019-07-22 16:39] AleksSenkou commented on #54
Looks redundant for me too 👍

I guess having methods stubbed with return value is just useful practice and is used in mostly all cases. But don't think it's mandatory

[2019-07-22 16:41] AleksSenkou commented on #48
@roman-dubrovsky looks good to me

here are comments:

`change rubocop config (the cops should be ordered by alphabet)` instead?

`add a note to the style guide doc (should be grouped by subjects)`

[2019-07-22 16:43] AleksSenkou commented on #42
Agree that we don't need to do something with opened issues - if you still that some are not matters - right it down

[2019-07-22 16:45] AleksSenkou commented on #39
Are we able to make a decision here? @TheBlackArroVV do you think we need further discussions here? voting?

[2019-07-22 16:46] TheBlackArroVV commented on #39
@AleksSenkou , looks like we can close this issue

[2019-07-22 16:47] roman-dubrovsky opened #58 "Rspec: RSpec/LetSetup - not to use `let!`"
[This cop](https://rubocop-rspec.readthedocs.io/en/latest/cops_rspec/#rspecletsetup) does not allow to use`let!` for setting up test data.

By documentation, it should be disabled by default but I caught this issue in the project.

[code]

Any thoughts? I didn't investigate why it was added to the default config so I don't have any thoughts now.

[2019-07-22 16:48] AleksSenkou commented on #32
Any ideas?

[2019-07-22 16:51] AleksSenkou commented on #19
@roman-dubrovsky sorry, I can't understand it. Can you please give more details?

[2019-07-22 16:54] AleksSenkou commented on #58
@roman-dubrovsky can we just disable it explicitly?

[2019-07-22 16:54] roman-dubrovsky commented on #58
From another hand, betterrspec guide suggests using `let!` for setting up data http://www.betterspecs.org/#let

[2019-07-22 17:07] dzhlobo commented on #32
My random thoughts.

It was planned to make all the string literals frozen by default in Ruby 3 but those plans were abandoned: https://bugs.ruby-lang.org/issues/11473#note-53. So we're sticking to those magic comments forever.

I'm not sure we will ever be able to enable freezing string literals application-wide due to gems compatibility issues.

It would be great to actually measure benefits we

[2019-07-24 11:11] roman-dubrovsky commented on #40
@AleksSenkou ok, we can try to make voting but it does not resolve this point for me

And happens cause there aren't any comments about points why I prefer double-quotes and no points why we prefer single points from your side (only that this looks pretty (what is really personal) + point about interpolation which I didn't understand and don't get any answers on my question)

So if we really make

[2019-07-24 11:27] roman-dubrovsky commented on #40
Anyway, let's I repeat my points by this question:

Why I prefer double quotes:

1) We don't need to change the type of quotes when we want to use interpolation or symbols such as `\t`, `\n`,  etc.

[code]

@AleksSenkou  You wrote above that this is cons for you that we can recognize if the string literal has or doesn't have interpolation or special symbols.

So can you explain to me which benefit

[2019-07-24 11:45] roman-dubrovsky commented on #40
2. we can use ' symbol with double quotes (but in this case, we have an issue with `"` symbol)

First of all, how can we resolve this issue:

 - use`\` symbol for making all string consistent

[code]

- does not make consistent string in this case (rubocop allows to do it)

[code]

The second one, let's discuss when we're using `'` and `"` symbols in the string literals

`'` is our friend on writi

[2019-07-24 11:47] roman-dubrovsky commented on #40
I don't think so but this is really something which we need to get via voting. But in the current case, for me, this is a minor point cause practical thing more useful than so cosmetical. Does it make sense?

[2019-07-24 11:50] roman-dubrovsky commented on #40
The single point, why I prefer to use a single quote that we use it in the eslint config so we don't need to worry about a different type of quotes when we're writing Rails backend with react app (like a habit issue). But this case we can fix via autocorrection

[2019-07-24 11:56] roman-dubrovsky commented on #31
this is not just a comment but comments in the special format.

yes, it makes sense. But also, the documentation does not exclude notes in README

P.S. @AleksSenkou I freeze this issue for now cause want to concentrate on other things

[2019-07-24 12:01] roman-dubrovsky commented on #54
@an-korn @AleksSenkou I don't agree with you (including that I wrote this test 😄above ).

First of all, can you say why and in which cases we should stub the private method of tested class?

[2019-07-24 12:20] roman-dubrovsky commented on #55
I don't know

[2019-07-24 12:20] #56 closed

[2019-07-24 12:21] roman-dubrovsky commented on #48
@AleksSenkou thank you. But it was just MVP so I didn't worry much about grammar

[2019-07-24 12:22] roman-dubrovsky commented on #39
@AleksSenkou @TheBlackArroVV any thoughts by this comment https://github.com/datarockets/datarockets-style/issues/39#issuecomment-510047033 ?

[2019-07-24 12:25] roman-dubrovsky commented on #39
https://github.com/datarockets/datarockets-style/issues/39#issuecomment-511474175

@DDKatch this variant makes sense to me but unfortunally it

[2019-07-24 12:25] roman-dubrovsky commented on #39
no worries ☝️ this is a fucking github UI

[2019-07-24 12:26] roman-dubrovsky commented on #39
https://github.com/datarockets/datarockets-style/issues/39#issuecomment-511474175

@DDKatch it makes sense for me in some cases

[2019-07-24 12:30] roman-dubrovsky commented on #19
@AleksSenkou this cop about writing this code

[code]

instead of this one

[code]

Just guys suggest not to use the compact style for any reasons. So will be great to investigate this issue and understand in which cases we should use nested style, in which compact

[2019-07-24 12:32] roman-dubrovsky commented on #58
@AleksSenkou I can agree on it as a temporary solution but also we need to understand why this cap has been added (it can detect some design issues like #54 )

[2019-07-24 12:35] roman-dubrovsky commented on #32
@dzhlobo @AleksSenkou looks like we can disable this cop for now and return to this issue later.

[2019-07-24 12:36] roman-dubrovsky opened #61 "Upgrade RuboCop RSpec gem"
Link to the new release: https://github.com/rubocop-hq/rubocop-rspec/releases/tag/v1.34.0

To-Do list:

- [x] update dependencies to the latest version
- [x] investigate how it changes and affect our current styles and cops
- [x] check the required ruby version

[2019-07-24 13:13] TheBlackArroVV commented on #40
So, it's looks like holy war for now, but both variants is about style preference.
And single quotes have also a some preferences. For me its:
1. I understand when it just a word, so it's more easy to find some metamagic
2. It's takes less place, so i better see it's on my laptop's screen and don't need to scroll
3. It's looks pretty clean(my own opinion)
4. Less buttons need to be clicked
@roman-

[2019-07-24 13:24] roman-dubrovsky commented on #40
@TheBlackArroVV can you explain it more? I don't really understand it.

yes, and we have the same issues as for interpolation https://github.com/datarockets/datarockets-style/issues/40#issuecomment-514593556

no, there aren't good tools for Sublime editor. (some of them looks good by documentation but have a bad performance)

And, if we would have this tool, there isn't a tool which will change qu

[2019-07-24 13:34] TheBlackArroVV commented on #40
When i see 'word', and "#{word}" i understand where is just a string from first symbol

Sure, and i believe, that it's what can be changed for thing, that i described above in this answer

So, there many around-commit tools, which works without editor

Sure, but will it save so much time to make it matter?

[2019-07-24 13:38] roman-dubrovsky commented on #40
@TheBlackArroVV you forgot about this one

[2019-07-24 13:42] TheBlackArroVV commented on #40
@roman-dubrovsky , o, it's easy
Just 'abc' takes less place then "abc", less place - more characters i can see

[2019-07-24 13:45] roman-dubrovsky commented on #40
@TheBlackArroVV really? any screenshot with it?

cause the editor should render it with the same width

<img width="304" alt="Screen Shot 2019-07-24 at 4 43 46 PM" src="https://user-images.githubusercontent.com/7738063/61798673-6190fb00-ae32-11e9-9d85-4f147dc5f920.png">

Type 20 symbols

<img width="259" alt="Screen Shot 2019-07-24 at 4 43 41 PM" src="https://user-images.githubusercontent.com/7738

[2019-07-24 13:47] TheBlackArroVV commented on #40
@roman-dubrovsky , hmm, sure, it was my mistake, it's really don't work like this

[2019-07-24 13:54] roman-dubrovsky commented on #40
@TheBlackArroVV as summary. 1-3 are just cosmetical things

4. It doesn't fix the issue by adding interpolation or special symbols.

About removing interpolation issue: yes, you're right but this is a very optimistic position (funny to see it from a guy who pushes broken code to github time to time 😉 ). Usually, we have this check on CI and nobody set up it locally. So agreed with your point, only

[2019-07-24 14:31] AleksSenkou commented on #54
@roman-dubrovsky a case when stub doesn't need return value:

[code]

[2019-07-24 14:35] AleksSenkou commented on #54
@roman-dubrovsky not sure that I understand why you ask for an example 😄
Is it because of the stubbed private method in the example of the issue description?
If yes - should be stubbed class that called inside `refresh_token` method

[2019-07-24 14:38] AleksSenkou commented on #31
@roman-dubrovsky is it possible to write rack tasks in special format instead of leaving comments in a special format?

Got it 👍

[2019-07-24 14:39] AleksSenkou commented on #48
@roman-dubrovsky got it. Sorry for being pedantic where not needed

[2019-07-24 14:41] AleksSenkou commented on #39
I do prefer https://github.com/datarockets/datarockets-style/issues/39#issuecomment-511474175 for that - it's clear. When in one-line it's hard to read params.

can be just personal feeling

[2019-07-24 14:44] AleksSenkou commented on #19
@roman-dubrovsky got it. I had an issue with compact style once or twice. Kind of exception from the rule 😄 Can't remember what was the issue

[2019-07-24 14:51] roman-dubrovsky commented on #54
@AleksSenkou ok, looks like you didn't understand the issue. Here we're stubbing a method of `subject` (tested object), in your example, you're stubbing other classes (and this looks nice)

[2019-07-24 14:54] roman-dubrovsky commented on #54
so, it looks like

[code]

[2019-07-24 14:55] roman-dubrovsky commented on #54
@an-korn can you describe why we decided to stub private method?

[2019-07-24 15:06] roman-dubrovsky commented on #48
@AleksSenkou np, I like it. This is just less work for the guy who'll resolve this issue

[2019-07-24 18:05] #57 closed

[2019-07-25 09:52] roman-dubrovsky commented on #39
https://github.com/datarockets/datarockets-style/issues/39#issuecomment-511474175

@AleksSenkou @DDKatch how do you think: should we set up a custom cop for making this rule? Or adding some note to style guide with label `recommended` (it can be required cause we don't have a lint for this)

[2019-07-25 11:03] roman-dubrovsky opened #64 "Can't install gem with mutant"
Has a dependecies conflict with `mutant-rspec` library

[code]

It can also be rubocop or mutant issue.

Mutant rspec:  https://github.com/mbj/mutant/blob/master/docs/mutant-rspec.md

[2019-07-25 15:08] roman-dubrovsky commented on #54
@an-korn @AleksSenkou  Have I described why we shouldn't disable this metric on meetup? And can I close this issue?

[2019-07-25 16:22] roman-dubrovsky opened #65 "Disable rubocop for node modules directory"
Rubocop tries to check some files from `node_modules`

[code]

[2019-07-25 19:44] TheBlackArroVV commented on #64
Looks like mutant want like versions of gem `parser` between 2.5.1 and 2.6.0 without including last one. And rubocop from 2.6.0, so i think the right way for fixing it is to open issue in mutant repository

[2019-07-26 08:22] AleksSenkou commented on #39
`recommended` is good for me. we can add a feature request issue for adding custom cop later

thoughts?

[2019-07-26 08:24] AleksSenkou commented on #54
@roman-dubrovsky yeah, sounds good to me

[2019-07-26 09:57] #48 closed

[2019-07-26 09:59] #65 closed

[2019-07-26 10:02] roman-dubrovsky commented on #39
@AleksSenkou yes, I think so. But I'm not still sure that this https://github.com/datarockets/datarockets-style/issues/39#issuecomment-511474175 should be restricted rule (anyway we can discuss it in the separate issue).

@AleksSenkou @DDKatch so can you create an issue for this item?

[2019-07-26 12:47] an-korn commented on #54
@roman-dubrovsky yes, sure

[2019-07-26 14:51] #54 closed

[2019-07-26 15:05] roman-dubrovsky commented on #42
As a summary, what do you think about this process:

- we should resolve the issue during the week after his opening
- we have the next steps for processing it:
  1) we can resolve and close it during the week and if it does not need any changes in the codebase (e.g. some questions or duplicated feature requests
  2) if this is a high priority issue or dependency issue, we should add them to the c

[2019-07-26 15:06] roman-dubrovsky commented on #25
@AleksSenkou any updates?

[2019-07-26 15:31] roman-dubrovsky opened #69 "Link for "Write empty methods in an expanded way" does not work"
**Is your feature request related to a problem? Please describe.**

This is link does not work cause incorrect URL

<img width="1232" alt="Screen Shot 2019-07-26 at 6 27 38 PM" src="https://user-images.githubusercontent.com/7738063/61962974-6f31b680-afd3-11e9-8446-43c26b0e58d5.png">

**Additional context.**

Need to change URL from `#empty-method` to `#style-empty-method`

[2019-07-26 17:12] AleksSenkou commented on #42
week is a very short period. anyway, time dependence brings management that someone should do and practice shows that it's become broken during some period (especially for opensource project)

We had exactly the same issue with Playbook Keapers team. Finished up with doing nothing with opened issues - someone can go through them (if wants to) and close deprecated, mark postpone those that seem to

[2019-07-26 17:14] AleksSenkou commented on #25
@roman-dubrovsky nope. I don't have an Idea how to write about it with value

[2019-07-26 17:15] roman-dubrovsky commented on #42
I think this is enough time for moving the issue into some group. Anyway I'll still have an old long-time unclosed issue, but also we'll process fast new issues

[2019-07-26 17:15] AleksSenkou commented on #39
I will

[2019-07-26 17:18] AleksSenkou opened #71 "Title goes here"
**Is your feature request related to a problem? Please describe.**
Multiline method call is waiting for a custom cop to be written. Details here - #39
Finished with this style (separate line for each param) - https://github.com/datarockets/datarockets-style/issues/39#issuecomment-511474175

**Additional context.**
Should be discussed in details. Do we want it to be restricted?

[2019-07-26 17:20] roman-dubrovsky commented on #71
**Additional context.**

Can have conflicts with other metrics (like class or method size).

[2019-07-26 17:21] roman-dubrovsky commented on #71
@AleksSenkou I'm not going to work on this story in nearest future. Would you like to discuss and resolve it? Or can we set `postponed` label and return to this issue later?

[2019-07-26 17:22] roman-dubrovsky commented on #25
@AleksSenkou do you need any help here?

[2019-07-26 17:22] AleksSenkou commented on #71
Set `postponed`

[2019-07-26 17:24] AleksSenkou commented on #25
@roman-dubrovsky I guess I need good idea 😄

Topic can be: `Linters`
Can include examples of our custom linters for rubocop and eslint

[2019-07-26 17:26] AleksSenkou commented on #42
@roman-dubrovsky my suggestion is to avoid new processes if we can deal without them (without effectivity lost)

How measuring new issues in a week can help us?

[2019-07-26 17:31] AleksSenkou commented on #40
Guysб looks like single/double quotes isn't something that can be discussed with arguments usage. I think that the root is just a personal taste. Sorry, I don't have the energy to leave my thoughts cause it's started to be not productive at all.

My personal taste is one-quote because it's esthetic to me, I like how it looks.
If most of us are for double-quotes - I will use them too.

[2019-07-30 11:39] #39 closed

[2019-07-30 15:58] TheBlackArroVV opened #72 "Braces around hash parameters"
I think, that we don't need to write reducent braces around parameters
[code]

[2019-07-30 16:00] roman-dubrovsky commented on #72
@TheBlackArroVV can you create the issue via a template which we prepared

[2019-07-30 16:00] #72 closed

[2019-07-30 16:33] TheBlackArroVV opened #73 "Braces around hash parameters"
**Is your feature request related to a problem? Please describe.**
I think we should discuss this [cop](https://www.rubydoc.info/github/bbatsov/RuboCop/RuboCop/Cop/Style/BracesAroundHashParameters).

**Additional context.**
My suggestion is:
[code]

Your thoughts?

[2019-07-30 16:47] roman-dubrovsky commented on #73
👍 , I think so

[2019-07-30 16:50] roman-dubrovsky commented on #73
but your suggestions is default behavior for this cop, isn't it? https://rubocop.readthedocs.io/en/latest/cops_style/#stylebracesaroundhashparameters

Or there are some problems with it?

[2019-07-30 16:52] TheBlackArroVV commented on #73
Sure, but you commented on my pr, that we need to discuss it and you don't agree with my choice or i don't understand you well?

[2019-07-30 17:04] roman-dubrovsky commented on #73
so I asked you about issues with cop and check the documentation better

The main issue here is a case when we pass more than one hash as arguments. And here we should have a question, does default variant works for us

[code]

So for this cop, I prefer to use `context_dependent` which looks better for my side in this case (also in this case, we do not use braces for single hash `method(a: 'b')` )

[2019-07-30 17:06] roman-dubrovsky commented on #73
+ I'm agreed with some rule (which we want to change) we still need to discuss and add it to the shared config instead of saving it locally on the project config

[2019-07-30 17:08] roman-dubrovsky commented on #73
does it make sense?

[2019-07-31 11:48] roman-dubrovsky commented on #73
@TheBlackArroVV sorry, I didn't understand your comment above

[2019-07-31 11:52] roman-dubrovsky commented on #61
P.S. Fix for the last version https://github.com/rubocop-hq/rubocop-rspec/releases/tag/v1.34.1

[2019-07-31 11:53] TheBlackArroVV commented on #73
@roman-dubrovsky , write method in which you want to provide this `some_method(x, y, {a: 1, b: 2}, a: 1, b: 2)` arguments

[2019-07-31 11:53] TheBlackArroVV commented on #73
My fail, sorry

[2019-07-31 11:54] roman-dubrovsky commented on #73
@TheBlackArroVV sorry, I still don't understand what do you want from me 😞

[2019-07-31 17:48] TheBlackArroVV commented on #73
My point of view was, that we won't write methods, which get two different hash'es as params
But, as @roman-dubrovsky noticed, we already use rails, which have methods like [this](https://apidock.com/rails/ActionView/Helpers/FormTagHelper/select_tag#80-select-options-tag-no-more-worries-)
So i agree about context dependent style for this cop

[2019-07-31 21:08] roman-dubrovsky commented on #73
@TheBlackArroVV yep, exactly. We won't write these methods but we'll use it (cause this is a usual interface for Rails and many old gems)

[2019-08-01 09:49] roman-dubrovsky opened #75 "Update Rubocop to 0.74"
Link to the new release: https://github.com/rubocop-hq/rubocop/releases/tag/v0.74.0

To-Do list:

- [x] update dependencies to the latest version
- [x] investigate how it changes and affect our current styles and cops
- [x] check the required ruby version

[2019-08-01 13:02] roman-dubrovsky commented on #42
@AleksSenkou ok, let's forget about time limits for now (for me that really looks overhead + there are not a good solution for managing long-time issues)

But by this issue, I have a question about minimal time for issues.  E.g this issue #73 has been created, had been discussed only one day, and then we have created a PR #74. Should we added some freezing time so that everybody can check, investi

[2019-08-01 13:03] roman-dubrovsky commented on #25
@AleksSenkou what do you mean on it?

[2019-08-01 13:51] roman-dubrovsky commented on #61
**Note:**: interesting improvment: cops `RSpec/SubjectStub` and `RSpec/DescribedClass` became working better. E.g they can find new offenses in our project

[2019-08-01 14:19] roman-dubrovsky commented on #40
@AleksSenkou I'm sorry but I'm really becoming angry when seeing your comment above.

First of all, you said that the question is opened and want to discuss it. Ok, I spent some hours and shared you my pain which I faced on my working experience (and I think I left good arguments here). And after that, you want to say that this does not matter and do not want to discuss it.

maybe this isn't a rea

[2019-08-02 09:29] #1 closed

[2019-08-02 09:29] #69 closed

[2019-08-02 09:31] #61 closed

[2019-08-02 09:35] #75 closed

[2019-08-02 13:34] roman-dubrovsky opened #80 "Allows adds additional files and directories to excluding block for rubocop"
**Is your feature request related to a problem? Please describe.**

Now if you want to add a new file or directory to Exclude block for all cops, and try to write something like

[code]

it overrides the current excluding list instead of extending it. Probably, we need to play with rubocop configurations for exclude rule.

P.S. Also we can have similar issues for exclude block for other cops

[2019-08-02 13:35] roman-dubrovsky opened #81 "Update RuboCop RSpec to 1.35.0"
Link to the new release: https://github.com/rubocop-hq/rubocop-rspec/releases/tag/v1.35.0

To-Do list:

- [x] update dependencies to the latest version
- [x] investigate how it changes and affect our current styles and cops
- [x] check the required ruby version

[2019-08-02 13:51] roman-dubrovsky opened #83 "Think about bot which will check available versions of dependencies"
**Is your feature request related to a problem? Please describe.**

Now I just get email messages with all new releases. Think about automatization for this issue. E.g. https://github.com/marketplace/dependabot-preview

[2019-08-02 20:22] roman-dubrovsky opened #84 "Allow use `for` with RSpec/ContextWording cop"
**Is your feature request related to a problem? Please describe.**

For describing a great context description, better specs guide suggests us to use description which starts with `when` or `with` (+ rubocop extends this list with `without`).

But after fixing this cop I found that prefix `for` is very popular in our team for describing a context. And I don't see any reasons not to use it includin

[2019-08-04 22:21] roman-dubrovsky commented on #55
https://rubocop-rspec.readthedocs.io/en/latest/cops_rspec/#rspecnottonot

[2019-08-05 12:42] roman-dubrovsky commented on #55
this cop es enabled by default and I found it in our `rubocop_todo.yml`

[2019-08-05 12:42] #55 closed

[2019-08-05 14:23] AleksSenkou commented on #42
@roman-dubrovsky guess even if we merge something other not agree with - they can create an issue and discuss it after

I mean even going with 2 weeks we can finish up with not all thoughts collected

[2019-08-05 14:24] AleksSenkou commented on #25
@roman-dubrovsky I'd like to have topic informative. Let me create it and ask you for the review 😃

[2019-08-05 14:58] AleksSenkou commented on #84
I do like `when` as a convention.

* It matches with tasks/cards naming. We have them starting with `When`
* Given-When-Then is a practice for bdd testing, exactly what we do

[2019-08-05 15:21] AleksSenkou commented on #40
@roman-dubrovsky I didn't want to offend you somehow.

I just don't agree that your points are valuable. This question is nothing just a taste of every exact person. I don't want another "разбор полетов" over here.

Look how much they said about it:
* Those who agreed to use double quotes (thoughtbot) - https://github.com/thoughtbot/guides/pull/174
* Those who agreed to use single quotes (rubocop)

[2019-08-05 15:25] AleksSenkou commented on #84
I'm not against `for` as well. Would go with both of them if wanted

[2019-08-05 16:58] lazycoder9 opened #85 "Naming/MemoizedInstanceVariableName"
What do you think about this cop https://www.rubydoc.info/gems/rubocop/RuboCop/Cop/Naming/MemoizedInstanceVariableName?

Should we use `@_foo` or `@foo` for memoized variables?

[2019-08-05 17:34] roman-dubrovsky commented on #85
P.S. better doc https://rubocop.readthedocs.io/en/latest/cops_naming/#namingmemoizedinstancevariablename

[2019-08-05 17:34] roman-dubrovsky commented on #85
both works for me

[2019-08-06 09:08] lazycoder9 commented on #85
@AleksSenkou you've said to me, that you have convention to mark cached variables with `@_`. So, I think we should specify this in our style

[2019-08-07 10:34] AleksSenkou commented on #85
How I see it:
1) `@_foo` for a cashed copy of foo defined in `private` block
2) `@foo` for setting a public variable

[2019-08-07 12:33] lazycoder9 commented on #85
Will everyone agree to use this kind of convention?
[code]

[2019-08-07 16:29] #73 closed

[2019-08-07 16:31] #81 closed

[2019-08-07 16:34] roman-dubrovsky commented on #42
@DDKatch I'm closing this issue cause looks like we don't need any time limits

[2019-08-07 16:34] #42 closed

[2019-08-07 16:40] #85 closed

[2019-08-08 09:55] roman-dubrovsky commented on #40
ok, as a summary of this issue:

1) we won't force to use some required rule for this cop. The team or developers use their own decision which rule they will use in the project.

2) For legacy projects, we can suggest the next suggestion: call rubocop with both rules and choose which has fewer offenses.

Ping pls if you don't agree with that

[2019-08-08 10:47] AleksSenkou commented on #40
@roman-dubrovsky agree 👍

[2019-08-09 09:00] roman-dubrovsky commented on #33
Similar `Layout/AlignArguments`

[code]

[2019-08-09 10:49] lazycoder9 commented on #33
So, will we accept? @roman-dubrovsky @AleksSenkou
[code]

[2019-08-09 10:51] AleksSenkou commented on #33
I do like
[code]

[2019-08-09 10:54] roman-dubrovsky commented on #33
@AleksSenkou @lazycoder9 there are a lot of cops with indentations. How do you think: should we group and fix it together and fix it one-by-one after facing some issue?

[2019-08-09 12:05] #84 closed

[2019-08-09 12:09] roman-dubrovsky commented on #33
@lazycoder9 also I have one question by `Layout/MultilineMethodCallIndentation
` cop: should we also set `IndentationWidth` value here? Or there is some value by default?

[2019-08-09 12:32] lazycoder9 commented on #33
@roman-dubrovsky I've tested it locally without setting `IndentationWidth` and it seems that it is unnecessary. By default, it will just indent by 1 tab

[2019-08-09 12:33] roman-dubrovsky commented on #33
@lazycoder9 I think this is enough. Anyway, we can fix it later if will have any issues with it .

[2019-08-11 16:43] roman-dubrovsky commented on #33
@lazycoder9 `Layout/MultilineMethodCallIndentation` is for another issue #34

[2019-08-12 17:58] #34 closed

[2019-08-12 18:00] #33 closed

[2019-08-12 18:02] #40 closed

[2019-08-14 17:18] roman-dubrovsky opened #91 "Not to use double interpolation"
**Is your feature request related to a problem? Please describe.**
Avoid using double interpolation in the one string

Your thoughts?

**Additional context.**
Example

[code]

[2019-08-14 20:17] roman-dubrovsky opened #92 "Not to duplicate methods in the controllers and helpers."
**Is your feature request related to a problem? Please describe.**

There are some cases when some methods are duplicated in a controller (usually ApplicationContoller) and in the helpers (usually ApplicationHelper).

And we can use https://apidock.com/rails/ActionController/Helpers/ClassMethods/helper_method instead.

This is a Rails specific issue

[2019-08-21 09:09] roman-dubrovsky commented on #83
@ezhlobo can you as datarockets owner set up dependabot for this repo? Looks like I just don't have permissions for that.

[2019-08-21 18:00] roman-dubrovsky opened #93 "Do not add expectations into setup blocks"
**Is your feature request related to a problem? Please describe.**
Avoid using `expect` command into setup block. Cause the implementation can be changed and `expect` can be changed to `allow`. So I want to do it before this needs.

+ it breaks the next rule http://www.betterspecs.org/#single

**Additional context.**

Instead of

[code]

write

[code]

[2019-08-22 09:47] an-korn commented on #93
@roman-dubrovsky ok, it seems to be reasonable for me.

[2019-08-22 20:10] ezhlobo commented on #83
@roman-dubrovsky done. We should set it up. As far as I'm concerned we can do it in these two ways:

1) Add a configuration: https://dependabot.com/docs/config-file/
2) Do everything via their interface. You can sign in via github on app.dependabot.com, you should have an access.

If you'd like to go the second option and you don't have an ability to setup dependabot on your own, we can have a cal

[2019-08-26 12:48] roman-dubrovsky opened #94 "RSpec/MessageSpies cop rule"
**Is your feature request related to a problem? Please describe.**
Here I just want to make a decision which rule will we use for [this cop](https://rubocop-rspec.readthedocs.io/en/latest/cops_rspec/#rspecmessagespies).

1) Make call expectation after running test

[code]

Pros:

* make expectation as for all tests after running so it can be more clear for developers
* looks like it also fixes the

[2019-08-26 14:56] an-korn commented on #94
@roman-dubrovsky seems to be the first approach is better to use, but I'd like to left the second variant for now.

[2019-08-26 15:43] roman-dubrovsky commented on #94
@an-korn can you print some words why? cause I don't have a confident position by this question

[2019-08-26 15:54] an-korn commented on #94
@roman-dubrovsky according to [this](https://thoughtbot.com/blog/a-closer-look-at-test-spies) article the second approach is `more difficult to re-use, it breaks the linear readability of the Four-Phase test, and can lead to over-testing`

[2019-08-26 16:01] roman-dubrovsky commented on #94
@an-korn according to this article the first AND second approach are more difficult to re-use and instead of spying method we should use mock object.

P.S. looks like also it describes cons for the first approach: it needs to duplicate mocking via `allow` operator. Bur for a good test, we still need doing it (so that we follow the rule: one test - one expectation   )

[2019-08-30 13:22] roman-dubrovsky opened #95 "Rails cop: prefer to use `find_by` instead of `where.first`"
**Is your feature request related to a problem? Please describe.**
Just detect cases where we're using `where` + `first` together and change it to `find_by`

Use

[code]

**Additional context.**
Are there any issues with this cop? In which cases we shouldn't use this rule?

[2019-09-02 14:10] roman-dubrovsky commented on #94
BTW, I'm going to add this issue to the current milestone and set up a secong rule by default

[2019-09-02 14:11] roman-dubrovsky commented on #83
@ezhlobo yep, let's do it

[2019-09-04 11:17] DDKatch commented on #19
@AleksSenkou , @roman-dubrovsky I agree 100% not to use the compact style. And there my reasons:
**1. You can't use classes from the same namespace freely.**
For example:
_keks/build.rb_
[code]

_keks/fetch.rb_
[code]

_keks/save.rb_
[code]

Overall looks ok. But. What if we have outer namespace here, `AmaizingAndUnbellievableAndSuperDuperCool` for example?
Look what will happen with `Build` class

[2019-09-04 19:09] roman-dubrovsky opened #96 "Rspec: RSpec/ExpectChange cop"
**Is your feature request related to a problem? Please describe.**
I'd like to discuss this cop https://rubocop-rspec.readthedocs.io/en/latest/cops_rspec/#rspecexpectchange

By default, this cop ask to pass class and method for method w/o arguments and use a block for method with arguments

[code]

I'd like to change this value and make this cop consistent

[code]

Thoughts?

[2019-09-06 10:18] ezhlobo commented on #83
@roman-dubrovsky so if you want to have a call to discuss that, schedule it and send me an invite ;).

[2019-09-09 16:06] roman-dubrovsky commented on #83
done. @ezhlobo thank you ❤️

[2019-09-09 16:07] #83 closed

[2019-09-10 10:59] AleksSenkou commented on #96
I do like it, block usage is felt better here, btw use it all the time

[2019-09-10 11:00] AleksSenkou commented on #95
Don't know about edge cases. Both return either nil or record

[2019-09-10 11:02] roman-dubrovsky commented on #95
@AleksSenkou maybe are there some side effects if we'll use joins or `includes` before  these statements? Or something else

[2019-09-10 11:11] AleksSenkou commented on #95
@roman-dubrovsky `where` adds `ORDER BY id ASC` into sql request. Which doesn't change anything

If default sorting is set, then both will apply it

BTW checked includes and joins - same behavior, data is preloaded or joint

[2019-09-10 11:13] AleksSenkou commented on #94
Guess it's more convenient to use 2. for unit testing (because of stubs), but the 1. for request testing (because of testing response and status)

Thoughts?

[2019-09-10 11:14] AleksSenkou commented on #93
Agree 100% and even more 😄

Thank you for raising the issue!

[2019-09-10 11:15] AleksSenkou commented on #91
Love it

[2019-09-10 11:45] AleksSenkou commented on #19
Some points for using `compact` style:

1) We don't need to use nested style for controllers, especially for easy written:
[code]

Do we really need? It plays bad joke with code readability, doesn't it?
[code]

2) Imagine you had compact style to have prettier code looking
Keks::Fetcher and Keks::Builder
[code]

then you found out that Fetcher shouldn't be really in Keks namespace, but Another nam

[2019-09-10 12:10] roman-dubrovsky commented on #95
@AleksSenkou maybe I missed something but it does not add anything. so we have a separate method for this

[code]

And @AleksSenkou I didn't want to discuss and investigate this issue. But, I checked the that this is not really equal operations

- see the implementation of `find_by` method. This is `where(..).take`. See https://apidock.com/rails/v4.0.2/ActiveRecord/FinderMethods/find_by

- `take`

[2019-09-10 12:17] AleksSenkou commented on #95
I was trying with `.first`

[2019-09-10 12:51] roman-dubrovsky commented on #95
@AleksSenkou FYI you can'y run `#to_sql` method for `first` method returned value. Cause `first` return or AR object or Array, but `#to_sql` is a method of AR Relation class

[2019-09-10 13:19] AleksSenkou commented on #95
@roman-dubrovsky you are right, but you can still see the logs 😉

[2019-09-11 09:39] roman-dubrovsky commented on #19
@AleksSenkou

1) yeap, but usually we should not have the next controllers schema

[code]

- when we implement an additional base controller for each version which should implement some specific versions things for the current version (method of authorization, some exception handlers and e.g.)

[code]

- when we wrap some controller into `Users` module it usually means that we have a route like `u

[2019-09-11 09:44] AleksSenkou commented on #19
@roman-dubrovsky
1) is excellent manual on how to organize versioning 👍
2) it's about changing namespace of service, it was `Keks::Fetcher` but ended up using `Another::Fetcher`

[2019-09-11 09:49] roman-dubrovsky commented on #19
@AleksSenkou

2. yep, I just don't understand your pain here

[2019-09-11 09:51] roman-dubrovsky commented on #19
@AleksSenkou for me, this is the best approach for organizing versioning via Rails controllers. But I don't like it and won't work for cases when we work with mobile apps and can make a new version each month.

[2019-10-01 11:20] roman-dubrovsky opened #102 "Rails: security cop which will find potential cases with SQL injection"
**Is your feature request related to a problem? Please describe.**

I'd like to have a cop which will help me to find unsecured places where we can apply SQL Injection. This cop can already exist. If not, I think we can suggest it for the `rubocop-rails` gem.

**Additional context.**
https://rails-sqli.org

[2019-10-02 12:33] roman-dubrovsky commented on #94
@AleksSenkou sorry,  I don't understand this point `for request testing (because of testing response and status)`? maybe some examples

[2019-10-03 13:00] roman-dubrovsky commented on #2
For this issue, I'm going:

* [ ] add a separate config for rspecs
* [ ] rename `default` config to `base`
* [ ] add `ruby` and `rails` configs. For now it should contains only `base ` config + different exclusions
* [ ] move style guides into the `doc` directory
* [ ] add separate files for Rails and Rspec style guides
* [ ] add links to that style guides to the main style guides
* [ ] Updates Re

[2019-10-04 11:26] #96 closed

[2019-10-07 14:14] roman-dubrovsky opened #106 "Security issue: instance_eval add to rubocop"
**Is your feature request related to a problem? Please describe.**

Rubocop checks places where we're using `eval` and ask not to use it. But no items for `instance_eval` or `class_eval` or `module_eval` functions. Should we find that places too?

[2019-10-10 12:29] roman-dubrovsky opened #107 "Helper for getting additional info by cop"
**Is your feature request related to a problem? Please describe.**

When we generate rubocop, for many offences it just disables some metrics (and this is a nice solution this time).

[code]

But when we start to fix this cop, this is important for us:

1) Disable only files with offenses but check that rule for all other files.
2) Will be nice to see a number of offenses for each file (for making

[2019-10-10 20:17] roman-dubrovsky opened #108 "Space between blocks and method calls"
**Is your feature request related to a problem? Please describe.**
After some autocorrection, the rubocop leaves the next code and don't leave any notifications. So for this issue:

1) I'd like to set up the cop for handling spaces between calls if this cop does not setup
2) IF this cop is setup in the config, so it can be just added to my rubocop-todo list. So I'd like you to help me find this co

[2019-10-11 14:19] roman-dubrovsky opened #109 "Rspec: we should declare only `let` variables which we really use in the test."
**Is your feature request related to a problem? Please describe.**

In the we file, we should declare only `let` variables which we really use in the test.

[code]

In the example above, we should remove `old_user` and declare `shared_example_user` only for shared example

[code]

Thoughts?

[2019-10-21 20:57] roman-dubrovsky commented on #94
ok, I'll change the first variant. Feel free to make a new issue if you want to change this rule

[2019-10-25 14:24] #94 closed

[2019-10-29 11:02] roman-dubrovsky opened #113 "Update rubocop to 0.76"
Link to the new release: https://github.com/rubocop-hq/rubocop/releases/tag/v0.76.0

To-Do list:

- [x] update dependencies to the latest version
- [x] investigate how it changes and affect our current styles and cops
- [x] check the required ruby version

P.S. Just dependabot stil didn't create a new PR for that.

[2019-10-29 11:22] roman-dubrovsky opened #114 "RSpec/ExampleLength cop value"
Do you have any thoughts about should we increase this value to 8 or 10. (Default value is 5)

E.g. we have the next example

[code]

should we leave it as here? or move arguments into let variable?

[code]

Also, we have an option just to turn off that cop (and check that each test should have only one expectation block).

What do you think?

[2019-10-29 12:24] roman-dubrovsky commented on #107
@dzhlobo how do you think should I do it as rake task or make a separate CLI for that? (Including that 'm going to use it not only for Rails application and can't set up it via Railitie)

[2019-10-29 14:50] dzhlobo commented on #107
@roman-dubrovsky, it sounds like an upstream feature for me. Maybe rubocop should have an option for config generator which specifies that we not only want to disable particular cops but want to exclude specific files. I would discuss it with rubocop maintainers.

It shouldn't prevent us from building this feature in this repository though. We can build it now and then refer to this repository in

[2019-10-29 21:08] roman-dubrovsky commented on #107
@dzhlobo  sorry, I did it as a separate CLI 😃 but maybe it makes sense to do it as a rake task

ok, I'll try to discuss it with rubocop maintainers but usually, I'm using it for generating todo list for one particular rule which I'm going to fix in near future. So probably, I prefer to leave the existing approach of generating todo (for me it just calling that helper time to time).

[2019-10-29 21:10] roman-dubrovsky commented on #108
probably this is `Layout/EmptyLines` cop

[2019-10-30 20:13] roman-dubrovsky commented on #107
@dzhlobo I intestigated rubocop docs and looks like their have a special mechanism for that which has name formatters. So I'm going to investigate this question more before merging my PR.

[2019-11-01 07:49] texpert commented on #114
I'd certainly move the arguments to let variable, and increase the example length to 10.

[2019-11-01 07:52] texpert commented on #36
Nested example groups are adding to readability, hinting the workflow, so I think it's better to turn this cop off.

[2019-11-01 09:10] roman-dubrovsky commented on #107
https://docs.rubocop.org/en/stable/formatters/

[2019-11-01 10:20] roman-dubrovsky opened #117 "Don't use `should` in the Rspec tests"
**Is your feature request related to a problem? Please describe.**

On the our project, we have some legacy tests which have been written via `should` methods.
New tests we're writing via `expect` syntax. And now we have some fix of syntaxes but going to change it. But the main issue that default rubocop config does not handle that case.

So for that issue:

* [ ] find the needed cop in the ruboco

[2019-11-01 10:24] texpert commented on #117
AFAIK, rubocop has no such cop, should be refactored by hand.

[2019-11-01 10:26] roman-dubrovsky commented on #117
😞

[2019-11-01 10:28] roman-dubrovsky commented on #93
https://rubocop-rspec.readthedocs.io/en/latest/cops_rspec/#rspecexpectinhook

[2019-11-01 10:34] roman-dubrovsky commented on #117
looks like that won't add that cop cause Rspec configuration has already had that feature https://github.com/rubocop-hq/rubocop-rspec/issues/587

But would you like to have that cop? Especially if we have many `should` syntax tests and need to move to `expect` syntax step-by-step?

[2019-11-01 10:36] roman-dubrovsky commented on #114
@texpert would you like to make both changes 🤔 ?

[2019-11-01 10:42] texpert commented on #117
I think the development of such a cop isn't worth the effort. The refactoring is gonna be needed once, and only for the apps which are using the very old `should` syntax. The detecting cop is enough, as for me.

[2019-11-01 10:45] texpert commented on #114
Maybe next week, if it could wait. I'm still at my old job.

[2019-11-01 10:49] roman-dubrovsky commented on #114
no, it's 10 mins changes and I'll add it my own this weekend. I meant your idea. Do you want to see increasing that metric to 10 in config but that particular case you prefer to refactor and move arguments to `let` block?

[2019-11-01 10:50] texpert commented on #114
OK

"Do you want to see increasing that metric to 10 in config but that particular case you prefer to refactor and move arguments to let block?" - exactly!

[2019-11-01 13:33] TheBlackArroVV commented on #114
I believe, that it's better to live it without `let` in that way code is easier

[2019-11-01 13:48] texpert commented on #114
Using let assures the data wouldn't leak across other examples. Otherwise, there will be chances of flaky spec failures.

[2019-11-03 15:57] #114 closed

[2019-11-03 16:29] roman-dubrovsky commented on #108
yep, we just need to setup `Layout/EmptyLines` in our project. Cop: https://rubocop.readthedocs.io/en/latest/cops_layout/#layoutemptylines

This cop added to default config but for our project it's in the todo list

[2019-11-03 16:29] #108 closed

[2019-11-04 20:16] roman-dubrovsky commented on #93
P.S. The cop above works only with `before` block, but doesn't work with `setup` block.

`setup` - is a part of `rspec-rails` library https://github.com/rspec/rspec-rails/blob/master/lib/rspec/rails/adapters.rb#L108

[2019-11-04 20:51] roman-dubrovsky commented on #93
https://github.com/rubocop-hq/rubocop-rspec/issues/835

[2019-11-04 20:58] roman-dubrovsky opened #122 "Prevent writing duplication tests and contexts"
<img width="978" alt="Screen Shot 2019-11-04 at 11 57 01 PM" src="https://user-images.githubusercontent.com/7738063/68157562-f097ce00-ff5e-11e9-920f-2225e8f02279.png">

[2019-11-04 21:29] roman-dubrovsky commented on #91
Added issue https://github.com/rubocop-hq/rubocop/issues/7480

[2019-11-04 21:35] roman-dubrovsky commented on #31
Ok, my proposal:

- for public libraries (ruby.yml) config, I'd like to male that cop required. I just want to say that this is really uncomfortable to investigate libraries w/o any docs. (What this method do? Why this model has been added)

- no ides about Rails application. Probably, I'll exclude that cop for `app` directory cause most entities here have a stable and consistent structure. In oth

[2019-11-04 21:42] roman-dubrovsky commented on #117
Ok, as a result, RubocopRspec doesn't have and won't develop that cops cause we have that feature in the Rspec Core library. Instead of that, they suggest to set up your tests correctly and have a special block for that (see https://github.com/rubocop-hq/rubocop-rspec#enforcing-should-vs-expect-syntax )

So my question: how do you think which approach is better for us?

👀 - agreed with them and ad

[2019-11-04 21:47] texpert commented on #31
Documentation is a good thing, if properly written. But I won't enable this cop, as a general rule, I'd let the author and code reviewers decide whether documentation is necessary. Except of the gems, where it should be required, IMO.

[2019-11-04 21:59] texpert commented on #117
I think the 1st option is good enough if accomplished by the correct setup.

Better than writing a cop, I'd suggest to implement some kind of generator to add this into the RSpec config, if RSpec is installed and expectation.syntax is not configured - https://relishapp.com/rspec/rspec-expectations/docs/syntax-configuration#disable-should-syntax

[2019-11-05 10:38] texpert opened #123 "Fix changelog entries to simple past tenses"
`Disable` is imperative. The changelog is about what has been done, not about what should be done, so better to put it in the past: 'DisableD`

[2019-11-05 12:24] roman-dubrovsky commented on #123
Any thoughts?

Personally, I don't have any strong objections. I just prefer to use present simple tense cause this is the most usual approach for writing Changelog.

[2019-11-06 08:35] roman-dubrovsky commented on #117
@texpert got it and agree with you. But about RSpec config generator, I don't want to add it to this library (@dzhlobo wanted to make library for generating empty for Rails app with all configured files and env. like https://github.com/thoughtbot/suspenders. And probably this case for that library). So I just add a note to Readme

[2019-11-06 10:24] #36 closed

[2019-11-06 10:24] #113 closed

[2019-11-06 10:41] roman-dubrovsky opened #124 "Thing about development dependencies and removing Gemfile.lock"
See https://github.com/datarockets/datarockets-style/pull/119#discussion_r342550405

[2019-11-06 10:41] #107 closed

[2019-11-06 10:47] roman-dubrovsky opened #125 "Setup CircleCI"
Check rubocop config and Rspec tests

[2019-11-06 11:57] roman-dubrovsky opened #126 "Bug on TodoFormatter"
Forget to add a `:` symbol after cop name on running todo formatter.

Should be (valid yaml)

[code]

Now

[code]

[2019-11-06 20:51] roman-dubrovsky commented on #124
I just print a wrong issue id to commit. Should be #126

[2019-11-06 20:52] roman-dubrovsky commented on #126
Fixed #127

[2019-11-06 20:52] #126 closed

[2019-11-08 21:34] roman-dubrovsky commented on #125
@dzhlobo would you like to try github actions here?

[2019-11-10 19:28] #117 closed

[2019-11-11 09:52] roman-dubrovsky opened #129 "Fix Rspec configuration"
Fix RSpec configuration via Rspec linting configs

See #117

[2019-11-12 10:01] roman-dubrovsky opened #130 "Setup Layout/ArrayAlignment cop"
Setup [the next cop](https://rubocop.readthedocs.io/en/latest/cops_layout/#layoutarrayalignment).

By default, it orders by the first line arguments

[code]

but it should be a fixed indentation level

[code]

We discussed it before and made the same for other cops. See  https://github.com/datarockets/datarockets-style/blob/master/doc/STYLE_GUIDE.md#style-parameters-aligning

P.S.  In the current

[2019-11-12 10:02] roman-dubrovsky opened #131 "Documentation bug"
<img width="1012" alt="Screen Shot 2019-11-12 at 12 58 04 PM" src="https://user-images.githubusercontent.com/7738063/68661808-9c877d80-054c-11ea-8113-b5ce781f100f.png">

[2019-11-19 20:55] roman-dubrovsky opened #133 "Setup Layout/RescueEnsureAlignment cop"
Related with the next issue https://github.com/datarockets/datarockets-style/issues/130

Need to set up the rule for the next cop: `Layout/RescueEnsureAlignment`

Now It suggests correcting to

[code]

should be

[code]

[2019-12-05 10:09] lazycoder9 commented on #133
@roman-dubrovsky after a little investigation found that related cops are buggy now ([Layout/EndAlignment](https://github.com/rubocop-hq/rubocop/issues/6774) and [Layout/RescueEnsureAlignment](https://github.com/rubocop-hq/rubocop/issues/6918)). I think we should postpone it until fixes will release

[2019-12-05 10:29] roman-dubrovsky commented on #133
@lazycoder9 why is it buggy? can you write your thoughts what is wrong? or just links to issues or PRs?

[2019-12-05 10:45] lazycoder9 commented on #133
@roman-dubrovsky Oh, it seems the links in the previous comment were not obvious, but they were links to issue

[2019-12-05 11:24] lazycoder9 commented on #130
@roman-dubrovsky Should we bump rubocop's version in 0.7.0 milestone?

[2019-12-05 12:53] roman-dubrovsky commented on #130
yep, sure

[2019-12-05 13:51] DDKatch opened #137 "Usage of rubocop 0.77.0 version causes errors"
Latest `rubocop` release [0.77.0](https://github.com/rubocop-hq/rubocop/releases/tag/v0.77.0) has broken changes, so this gem doesn't work:
<img width="859" alt="Screen Shot 2019-12-05 at 4 36 31 PM" src="https://user-images.githubusercontent.com/14095146/70241006-530f0480-177f-11ea-9787-ebe4713b6341.png">

To-Do list:

- [x] set `rubocop` gem version to _0.76.0_ or update the config mentioned in

[2019-12-05 13:58] roman-dubrovsky commented on #137
Just update rubocop version (PR https://github.com/datarockets/datarockets-style/pull/135) and fix all conflicts (rubocop provides a good description for that issues)

[2019-12-05 14:00] DDKatch opened #138 "Broken `Contribution Guide` link"
We have the broken link to contribution guide in autofilled text for new Pull Request form.

Bug reproducing:
https://youtu.be/wINSdTvEa5Y

[2019-12-05 14:02] DDKatch commented on #137
Ok, will do shortly

[2019-12-20 14:46] roman-dubrovsky opened #139 "Binding.pry detector"
**Is your feature request related to a problem? Please describe.**

The cop which is finding `binding.pry` in the code

[2020-01-02 12:23] #131 closed

[2020-01-02 12:23] #138 closed

[2020-01-02 12:45] AleksSenkou commented on #123
Are there any community practices on how to build changelogs? I'm ok with both present and past tenses

[2020-01-02 12:54] roman-dubrovsky commented on #123
@AleksSenkou no practices. All maintainers do it as they want (but I could find gems only with present tense or w/o convention)

present tense - https://github.com/rubocop-hq/rubocop/blob/master/CHANGELOG.md
present tense - https://github.com/rails/rails/blob/master/activerecord/CHANGELOG.md
present tense - https://github.com/plataformatec/devise/blob/master/CHANGELOG.md
present tense - https://gi

[2020-01-02 12:54] roman-dubrovsky commented on #123
But we have the issue that our labels use past tense but notes use present

[2020-01-02 12:56] AleksSenkou commented on #123
Looks like nothing should be changed in changelog file then

[2020-01-02 12:56] #137 closed

[2020-01-02 12:57] AleksSenkou commented on #123
@roman-dubrovsky which labels do you mean? Github labels in this repo have present tense, they are mostly adjectives

[2020-01-02 13:00] nikitasakov commented on #123
Tried to find some rules and found this resource - https://keepachangelog.com/en/1.0.0/. Our CHANGELOG has almost the same structure with labels in past simple and notes in present. It seems to me that we can leave CHANGELOG without changes.

[2020-01-02 13:02] nikitasakov commented on #123
@AleksSenkou I would venture to suggest that Roma meant labels kinda `Added`, `Changed` etc in our CHANGELOG

[2020-01-02 13:07] AleksSenkou commented on #123
@nikitasakov agreed to leave changelog as it 👍
It's really nice and easy-readable

[2020-01-02 13:40] nikitasakov opened #146 "Some of our text files have typos and grammatical errors"
Some of our text files have typos and grammatical errors. For example `CHANGELOG.md` and `STYLE_GUIDE.md`

[2020-01-03 08:35] #125 closed

[2020-01-03 08:45] #146 closed

[2020-01-03 08:55] lazycoder9 commented on #130
@roman-dubrovsky I've tried to just turn off this cop (there are no other options) to not autocorrect indentation. The result is that I can write multiline arrays as I wish and there will be no warnings or proper autocorrections even if indentation is awful, like this
[code]
Here is a proof
![image](https://user-images.githubusercontent.com/19951609/71714663-9321df80-2e30-11ea-8f76-104ae7f005e8.pn

[2020-01-03 10:09] lazycoder9 commented on #122
@roman-dubrovsky Made some investigation and tried to setup these cops [RSpec/RepeatedDescription](https://rubocop-rspec.readthedocs.io/en/latest/cops_rspec/#rspecrepeateddescription) and [RSpec/RepeatedExample](https://rubocop-rspec.readthedocs.io/en/latest/cops_rspec/#rspecrepeatedexample). These cops are good, but they are not preventing/detecting context/describe level duplication. Also, there

[2020-01-03 11:25] lazycoder9 commented on #139
@roman-dubrovsky I see that our config is already detects `binding.pry` and `Kernel.binding.pry`, but it doesn't check `binding.irb`
![image](https://user-images.githubusercontent.com/19951609/71721062-92e00f00-2e45-11ea-912c-fcc10895b22c.png)

[2020-01-06 09:21] nikitasakov commented on #123
So we can close this issue or there are other opinions?

[2020-01-06 10:10] nikitasakov commented on #139
The same situation for me ^. Will investigate how to find all bindings

[2020-01-07 09:24] nikitasakov commented on #139
I was investigating this issue and it is result:

`binding.irb` is a feature of ruby >= 2.4 (https://blog.bigbinary.com/2017/04/18/binding-irb.html)

We have this in our `.rubocop.yml`:
[code]

So it doesn't detect this `binding.irb` because ruby 2.3 doesn't support `binding.irb`.

If I change `TargetRubyVersion` to 2.6, rubocop is able to see it
![image](https://user-images.githubusercontent.com/

[2020-01-07 13:13] nikitasakov commented on #124
BTW, In addition to the discussion, I've read https://bundler.io/v2.0/guides/creating_gem.html and found this:
[code]

[2020-01-08 14:24] nikitasakov commented on #80
Just to clarify:
The problem is that when we add exclude in `rubocop.yml` file it overrides exclude inherited from `config/ruby.yml` and `config/rspec.yml`.
Correct me please if I am wrong

[2020-01-09 09:50] nikitasakov commented on #19
I've read a bit about it and here is a result:

First of all I understood that those 2 syntaxes are not the same. The difference is in constants and their scope. (https://stackoverflow.com/a/24393133, https://stackoverflow.com/a/48944664).

Kinda this behavior in ruby:
[code]
[code]

And this behavior is true for Ruby, **but not for Rails**. It is because of Rails autoloading.

[code]

**Important

[2020-01-09 12:18] texpert commented on #19
Another good article explaining issues of shortcut syntax - https://randycoulman.com/blog/2014/12/09/namespaced-classes-in-rails/

[2020-01-10 10:37] nikitasakov commented on #129
Could you please clarify what exactly should be fixed?

In #117 I see that we decided not to go with cop but add to our README section about setting up RSpecs. It added here https://github.com/datarockets/datarockets-style/commit/47349c10c6f9ee81dc56b4b65919eee45cea678d

This link goes to https://relishapp.com/rspec/rspec-expectations/docs/syntax-configuration#disable-should-syntax And as I see it

[2020-01-10 12:40] AleksSenkou commented on #139
@nikitasakov is it checking `binding.pry` for ruby 2.3?

[2020-01-10 12:40] nikitasakov commented on #25
@AleksSenkou Are you going to work on it? Do you have any ideas?

[2020-01-10 12:41] AleksSenkou commented on #25
@nikitasakov I am not about to work on it,
the idea is simple - mention that we have this gem somewhere in dev practices description

[2020-01-10 12:42] nikitasakov commented on #139
@AleksSenkou Yes

[2020-01-10 12:56] AleksSenkou commented on #139
@nikitasakov is something stopping us from closing this issue then?

[2020-01-10 12:58] AleksSenkou commented on #123
@nikitasakov guess we can close it

[2020-01-10 13:03] nikitasakov commented on #139
@AleksSenkou For me - no, it is just a bit unclear for me when discussion is finished. Because of it I don't understand when we can close issues. 🤷‍♂️For some reason this issue is created and maybe we missed something

[2020-01-10 13:06] AleksSenkou commented on #139
@nikitasakov I understand your thoughts, man

Time and energy saver is to close an issue if you think that we can point dot on the conversation. If it's still important for someone - they will reopen the issue and start discussion once again 😉

[2020-01-10 13:23] #123 closed

[2020-01-10 13:25] nikitasakov commented on #139
@AleksSenkou Got it, thanks 🙂

[2020-01-10 13:25] #139 closed

[2020-01-13 11:24] nikitasakov commented on #130
So looks like we should implement our own cop. Will work on it

[2020-01-21 11:07] #80 closed

[2020-01-21 14:08] nikitasakov commented on #71
So maybe we can continue discussion? I personally like more version when each literal on separate line, but why cops for alignments don't support using ONLY this style? (I mean that you can use this style for all options of `ParameterAlignment`)

[2020-01-22 11:34] nikitasakov commented on #95
Yeah, `first` and `take` are not the same.
- `first()` returns first elements ordered by primary key.
- `take()` returns first elements in order according to the database structure.

Just tested:
[code]

[code]

So `find_by` is a `where().take`.
And `where().first` and `find_by` are not the same.

In my example:
[code]

[code]

We have to use `where().first` if we need to get record with specific

[2020-01-22 12:57] nikitasakov commented on #102
I am not sure that any of existing security cops is about SQL injections. There are cop about `eval`, `json` load, `yml` load, `marshal` load and files open. https://github.com/rubocop-hq/rubocop/tree/master/lib/rubocop/cop/security

Looks like we need custom cop

[2020-01-27 08:23] nikitasakov commented on #133
This issue still not resolved

[2020-01-27 09:43] #130 closed

[2020-01-27 10:13] roman-dubrovsky opened #152 "Disable RSpec/DescribeClass for request tests"
**Is your feature request related to a problem? Please describe.**

The main idea of that cop, that we should name top-level describe block via class name which we're going to test. See [link](https://rubocop-rspec.readthedocs.io/en/latest/cops_rspec/#rspecdescribeclass).

It works nice for unit tests, but it does not work for request and, probably, feature or capybara test.

[code]

So my proposa

[2020-01-27 10:31] nikitasakov commented on #35
I've spend some time in order to find this cop, but I haven't found anything. Looks like we have to implement our own

[2020-01-27 13:44] roman-dubrovsky commented on #129
@nikitasakov np, I'll fix it myself

[2020-01-27 13:45] roman-dubrovsky commented on #122
@lazycoder9 👍 added label `blocked`

[2020-01-27 13:51] roman-dubrovsky commented on #25
@nikitasakov can you leave some information in the forum:

1) like we have a repo with ruby style guide
2) short info with documentaion for style guide
3) link to doc how to set up it
4) link to doc how to contribute
5) maybe something else for your taste

[2020-01-27 13:54] nikitasakov commented on #25
@roman-dubrovsky Will work on it right now. Can you please clarify deadline?

[2020-01-27 14:03] roman-dubrovsky commented on #25
@nikitasakov no deadline

[2020-01-27 14:06] roman-dubrovsky commented on #129
@nikitasakov it was about fixing configuration for current Rspec config (which we're using for testing cops) .

[2020-01-27 14:08] roman-dubrovsky commented on #129
and looks like it has been done

[2020-01-27 14:08] #129 closed

[2020-01-27 14:15] roman-dubrovsky opened #155 "Setup `rubocop-rails` gem"
https://github.com/rubocop-hq/rubocop-rails

[2020-01-27 17:40] roman-dubrovsky commented on #95
yep, but usually people use `where.first` as `find_by` cause just don't know that method.

But it makes sense not creating a separate cop for that. So I just close this issue

[2020-01-27 17:40] #95 closed

[2020-01-28 10:30] DDKatch commented on #19
Looks like me, @roman-dubrovsky, @nikitasakov, @texpert  want to use nested syntax due to experienced disadvantages and the only @AleksSenkou wants to use the short syntax so far.
Let's use the nested syntax (which is a default BTW) and close this issue

[2020-01-28 10:33] nikitasakov commented on #25
I've created [topic](https://i.datarockets.com/t/datarockets-style-for-ruby-code/189) with info about datarockets-style.

[2020-01-28 10:33] #25 closed

[2020-01-28 11:41] lazycoder9 commented on #152
@roman-dubrovsky BTW, what do you think about using controller class in such kind of specs?
[code]

[2020-01-28 13:27] lazycoder9 commented on #91
@roman-dubrovsky we can start by implementing our custom cop in this repo, WDYT?

[2020-01-28 13:30] roman-dubrovsky commented on #91
yep, I'm going to do it

[2020-01-29 15:05] nikitasakov commented on #64
Update about this problem:

Now we have a bit different versions but problem looks the same: `rubocop` upgrades `parser`, `mutant` can not get in time 🤷‍♂️.

Even a bit more difficult: `mutant` depends on `unparser`, and `unparser` can not get in time with `parser` upgrading. **BUT** `unparser` is a gem of `mutant` developer.

I've created issue - `https://github.com/mbj/mutant/issues/992` in `mut

[2020-01-29 15:25] roman-dubrovsky commented on #64
@nikitasakov did you mean `rubocop` or `mutant`?

[2020-01-29 15:28] nikitasakov commented on #64
@roman-dubrovsky I mean `mutant`. Now `rubocop` does not allow to install `mutant` because of `parser`, but if we install it, it will not allow us update `rubocop` in the future because of parser again. Or I'm wrong?

[2020-01-30 13:11] nikitasakov commented on #122
Update: PR with cops merged to rubocop-rspec. I think we should wait for new release and when it updated we can close this issue.

[2020-01-30 13:36] nikitasakov commented on #152
Why not just specifying `type` in this case? Like [here](https://relishapp.com/rspec/rspec-rails/docs/request-specs/request-spec#requesting-a-json-response) for example. It is legal:
[code]

[2020-01-30 15:38] nikitasakov commented on #58
Read - `https://github.com/rubocop-hq/rubocop-rspec/issues/94`

I've just read холивар about this rule and here is summary:

This cop checks if you **create var** and **don't use it**:
[code]

This rule think that if you don't want to use this var you should use `before`:

[code]
But looks like the most of people don't like this cop

![image](https://user-images.githubusercontent.com/32716983/7346

[2020-01-30 16:21] texpert commented on #58
I vote for 1st option.

[2020-01-31 09:41] roman-dubrovsky commented on #58
@nikitasakov yep, I know it (I've investigated this issue before cause faced many times with it in the project), and I'm the person who agreed with that rule and vote for the second option (in fact for the third option and I don't think that we should revet commit instead of creating a new one)

[2020-01-31 09:56] roman-dubrovsky commented on #152
@nikitasakov  heh, funny. I missed that you can set `type` instead of class.

Looks like we can close this issue but for me, all solution looks like hacks:

1) @lazycoder9 looks like a hack only for request tests and we can't apply the rule e.g. for capybara tests

2) @nikitasakov solution looks like the most legal but here we lose RSpec feature to detect test type by directory name and just shoul

[2020-01-31 09:59] roman-dubrovsky commented on #64
hm, looks like this issue is still relevant.

and yes, I want that we'll try to use `mutant` (especially until all of us don't know how to write good tests). This library adds good test coverage and allows avoiding a lot of code smells

[2020-02-05 10:43] #155 closed

[2020-02-05 11:06] roman-dubrovsky commented on #31
ok, we agreed that this rule should be enabled for ruby config (which we're using for ruby gem projects)

For Rails projects, we're going to disable this cop but also we can add a note that we strongly recommend leaving some documentation for your classes and modules (especially for `lib` directory and custom test matchers). Correct?

P.S. My personal opinion that we can disable this cop only for

[2020-02-05 13:21] texpert commented on #31
Yeah, @roman-dubrovsky , I think it is a good idea to disable this cop only for the `app` directory!

[2020-02-13 13:26] roman-dubrovsky commented on #91
Made PR to rubocop repo https://github.com/rubocop-hq/rubocop/pull/7714

[2020-02-13 14:27] roman-dubrovsky commented on #93
guys, what do you think about this issue. here, we have two solutions:

1) Add `setup` to Rspec rubocop dictionary, so that it can process it too. But here, but looks this is a feature of rubocop-rspec

https://github.com/rubocop-hq/rubocop-rspec/blob/9bce008e95154681945333e4a125013df43a3894/spec/rubocop/cop/rspec/hook_argument_spec.rb#L26-L30

2) Reject using

[code]

and use this construction in

[2020-02-13 14:28] roman-dubrovsky commented on #19
@AleksSenkou Do you have any objections?

[2020-02-13 14:30] AleksSenkou commented on #19
@roman-dubrovsky no objections, thank you

[2020-02-13 15:10] texpert commented on #93
@roman-dubrovsky , I'd go with the 2nd.

[2020-02-14 12:47] roman-dubrovsky commented on #58
ok, it seems like only I want to leave that cop and all other guys want to disable it, am I right? 😄

[2020-02-14 12:49] roman-dubrovsky commented on #152
ok, I close this issue and the default solution is setting `type` manually, but the real solution should be discussed in the project. Does it make sense?

[2020-02-14 12:49] #152 closed

[2020-02-14 12:57] texpert commented on #58
Yep, @roman-dubrovsky, just had a legit case of using `let!` in a spec last week.

[2020-02-14 13:00] roman-dubrovsky commented on #58
@texpert JFYI, this cop is not about using `let!` at all (you still can use them).  This is about that we can use unreferenced `let!` (which we are not using in the tests and use only for setting up test data).

See https://github.com/datarockets/datarockets-style/issues/58#issuecomment-580311391

[code]

[2020-02-14 13:07] texpert commented on #58
Exactly, @roman-dubrovsky :

[code]

If `Address.create` would be used, there is risk of polluting the DB for other specs.

[2020-02-14 13:21] roman-dubrovsky commented on #58
@texpert seems like this is not full test. What is `post_request`? and why do you need `latitude` and `longitude`?

[2020-02-14 13:32] roman-dubrovsky commented on #58
Just most these cases, can be written as

[code]

but seems like we need to use  `latitude` and `longitude` somewhere 🤔 . And looks like we pass with variables on sending post request. So in this case, we just don't need to use `let!`

[code]

@texpert what do you think?

P.S. but I can miss something cause don't see the full test file

[2020-02-14 13:33] roman-dubrovsky commented on #58
@texpert oh, my bad. Got you point 😄

[2020-02-14 13:36] roman-dubrovsky commented on #58
ok, let's disable this cop. of course, we can write something like this but this looks like a hack

[code]

[2020-02-14 13:37] roman-dubrovsky commented on #58
or like my first variant

[code]

[2020-02-14 13:53] roman-dubrovsky commented on #58
but looks like disabling this cop still better idea 🤔

[2020-02-17 08:17] atatarenko commented on #19
Just my two cents, the shortcut syntax feels like something too Rails specific. I mean, there is no question considered for the preferred syntax outside the Rails world. If we take a look at any Ruby gem setup it will be obvious that the nested syntax is the only option. Even in Rails, it's highly recommended to not use shortcuts so that some parts could be pulled out to gems at some point in time

[2020-02-17 08:33] atatarenko commented on #58
I don't like messing with DB too much when writing unit tests and I use simple `let`s in 97% of cases so I'm for making this rule rather stricter than weaker. For that 3% left, I don't really care, I'm even okay if any kind of disabling cop comment would be used.

+1 for complaining about unreferenced `let!`s

P.S. We don't have `let!` on my current project and this is [the option](https://github.

[2020-02-17 10:28] #31 closed

[2020-02-17 13:51] #122 closed

[2020-02-17 14:04] roman-dubrovsky commented on #58
@texpert what do you think about code examples above?

Also,  if you don't have any agreements we can disable it by default and just add as a recommended cop?

cc @atatarenko @lazycoder9 @AleksSenkou @nikitasakov

[2020-02-17 14:12] texpert commented on #58
@roman-dubrovsky , I think it is not safe to create an entity in the before block. As I said earlier above - there is risk of polluting the DB for other specs. Doing it in a `let` or `let!` is ensuring it wouldn't leak into other contexts.

Anyway, thinking better of it, I agree with you and @atatarenko to enable this cop and to disable it when needed.

[2020-02-17 14:23] roman-dubrovsky commented on #58
@texpert I amn't really clear how before the `before` block can affect other contexts?

[2020-02-17 14:39] texpert commented on #58
@roman-dubrovsky , an AR instance created not in a `let` construct could somehow remain in the DB - I've seen such glitches.

[2020-02-17 14:42] roman-dubrovsky commented on #58
@texpert will be cool if you'll sent them. Cause in my mind we should clean up database after each  test case and this variable should be created only for single context (as via `let!`, as via `before` block)

[2020-02-17 17:30] texpert commented on #58
@roman-dubrovsky , I have retained no proof of it, but when the app is so big that it isn't using for specs any database_cleaner gem or transactional fixtures, the entities, created in `before` blocks are certainly not cleaned after each example, so `let` is safer. OK, giving it a good read, now I see that `let~` is just a wrap around a `before` block, so it isn't safe too in such a environment -

[2020-02-19 13:35] #19 closed

[2020-02-20 09:10] #58 closed

[2020-03-05 08:58] nikitasakov commented on #64
My [issue](https://github.com/mbj/mutant/issues/992) resolved and now it is possible to install `mutant-rspec`. Can we close this issue or we will able to close it after mutant installation only? @roman-dubrovsky

[2020-03-05 10:55] roman-dubrovsky commented on #64
@nikitasakov 👍 can you check it locally and close the issue

[2020-03-06 10:00] nikitasakov commented on #64
Checked, installed without any problems with current rubocop (0.80)

[2020-03-24 02:09] ianfixes commented on #133
I came here from #6918 ... I'm looking for guidance on whether to propose a test case for this or open a separate feature request entirely.

The code in question is:

[code]

Rubocop `0.77.0` wants this:

[code]

If I remove `memoize`, Rubocop acts sensibly and allows this:

[code]

So, is a variation on what's listed in the issue description or should I open a new feature request for an explicit

[2020-05-01 18:55] roman-dubrovsky opened #171 "Fix aligning key arguments"
**Is your feature request related to a problem? Please describe.**
Fix indentation for aligning arguments to a fixed value. It breaks the next rule: https://github.com/datarockets/datarockets-style/blob/master/doc/STYLE_GUIDE.md#style-arguments-aligning

Now it looks like

[code]

[2020-05-01 18:56] roman-dubrovsky commented on #171
same for array arguments

<img width="918" alt="Screen Shot 2020-05-01 at 9 55 50 PM" src="https://user-images.githubusercontent.com/7738063/80833115-97031a00-8bf6-11ea-8646-84ce0ed47510.png">

[2020-05-03 22:04] roman-dubrovsky opened #172 "Strange indentations in comments"
See indentations in comments in the begin of file

<img width="820" alt="Screen Shot 2020-05-01 at 9 57 53 PM" src="https://user-images.githubusercontent.com/7738063/80926961-32d18900-8da3-11ea-8082-e817ead6f260.png">

[2020-05-03 22:05] roman-dubrovsky opened #173 "Fix indentations for method call chain"
See example

<img width="1915" alt="Screen Shot 2020-05-01 at 10 03 41 PM" src="https://user-images.githubusercontent.com/7738063/80926974-5563a200-8da3-11ea-94cc-11893978a3d7.png">

[2020-05-03 22:06] roman-dubrovsky opened #174 "Bug for closed bracket indentation"
Example

<img width="637" alt="Screen Shot 2020-05-01 at 10 05 30 PM" src="https://user-images.githubusercontent.com/7738063/80926993-86dc6d80-8da3-11ea-9478-d8919ce1dd79.png">

[2020-05-03 22:07] roman-dubrovsky opened #175 "Bug for indentation of end keyword"
Example

<img width="331" alt="Screen Shot 2020-05-01 at 10 11 52 PM" src="https://user-images.githubusercontent.com/7738063/80927013-a8d5f000-8da3-11ea-818c-2f3ff2e48037.png">

[2020-05-03 22:08] roman-dubrovsky opened #176 "Hash arguments indentation"
Examples

<img width="811" alt="Screen Shot 2020-05-01 at 10 12 43 PM" src="https://user-images.githubusercontent.com/7738063/80927026-c4d99180-8da3-11ea-9317-19bb6420a767.png">

[2020-05-03 22:09] roman-dubrovsky opened #177 "Indentation for multi-mile statements"
Example:

<img width="784" alt="Screen Shot 2020-05-01 at 10 14 03 PM" src="https://user-images.githubusercontent.com/7738063/80927055-f0f51280-8da3-11ea-9a88-42dbde2bf200.png">

[2020-05-03 22:10] roman-dubrovsky opened #178 "Bug for multiline if statement"
Example

<img width="352" alt="Screen Shot 2020-05-01 at 10 18 36 PM" src="https://user-images.githubusercontent.com/7738063/80927085-13872b80-8da4-11ea-9675-db9e60904a49.png">

[2020-05-03 22:15] roman-dubrovsky commented on #171
Seems like this cop just not set up for now. Close issue

[2020-05-03 22:15] #171 closed

[2020-05-03 22:16] #172 closed

[2020-05-03 22:17] #173 closed

[2020-05-03 22:18] #174 closed

[2020-05-03 22:19] #175 closed

[2020-05-03 22:21] roman-dubrovsky commented on #176
Update: after setting up all cops, we have something like

[code]

[2020-05-03 22:23] #178 closed

[2020-05-03 22:28] roman-dubrovsky opened #179 "Indentation for hash with lamdas"
How we have something like

[code]

[2020-05-03 22:32] roman-dubrovsky opened #180 "Setup pending cops"
[code]

Tested it for version 0.8.0

[2020-05-15 16:07] roman-dubrovsky commented on #180
after updatess

[code]

[2020-05-15 16:14] roman-dubrovsky opened #181 "Setup Layout/MultilineMethodCallBraceLayout"
**Is your feature request related to a problem? Please describe.**
Allow to move closer brace in the new line

Now we can do it only via this approach

[code]

BBut I wan to see

[code]

[2020-05-22 10:18] roman-dubrovsky opened #183 "Update Rubocop to latest version"

[2020-05-23 13:33] #183 closed

[2020-05-24 20:32] #180 closed

[2020-05-24 20:46] roman-dubrovsky commented on #181
Guys, what do you think about this cop? (Link: https://docs.rubocop.org/en/latest/cops_layout/#layoutmultilinemethodcallbracelayout )

By default, we use `symmetrical` style so this variant is correct

[code]

For adding, brace on new line we should write something like this

[code]
In `new_line` style, we'll add brace in new line each time, and in this case too

[code]

I still prefer a `new_line

[2020-07-03 17:11] roman-dubrovsky commented on #177
one more example

<img width="1404" alt="Screen Shot 2020-07-03 at 8 10 13 PM" src="https://user-images.githubusercontent.com/7738063/86488346-64e27580-bd69-11ea-8d00-89332033e1af.png">

Cop: Layout/MultilineOperationIndentation

[2020-07-14 14:56] roman-dubrovsky opened #196 "Fix `Layout/ArrayAlignmentExtended` cop"
Tests for this cop are red. Seems like the autocorrelation does not work as expected.

https://github.com/datarockets/datarockets-style/pull/193/checks?check_run_id=864956124

[2020-07-14 14:57] roman-dubrovsky commented on #196
https://github.com/datarockets/datarockets-style/pull/195/files#diff-874bc22535c282748af75d789640e0cbR3

[2020-07-14 14:57] roman-dubrovsky commented on #196
@nikitasakov can you check it when have a time

[2020-07-17 22:33] roman-dubrovsky opened #199 "Discuss and setting up Style/HashAsLastArrayItem cop"
**Is your feature request related to a problem? Please describe.**
Here I just want to discuss rule for [this cop](https://docs.rubocop.org/rubocop/cops_style.html#stylehashaslastarrayitem).

This cop sets up a rule for hash braces in the array.

**EnforcedStyle: braces (default)**

[code]

**EnforcedStyle: no_braces (our rule)**

[code]

cons of each rule on real examples:

For `braces` rule

In

[2020-07-17 22:33] roman-dubrovsky commented on #199
P.S. Also right now `no_braces` has a bug for array of hashes. It converts this expression

[code]

to this one

[code]

which is equal `[{:contactID=>"test2"}]`

But I'm going to report this issue to rubocop library

[2020-07-17 22:34] roman-dubrovsky commented on #199
Personally, I still love `no_braces` rule more

[2020-07-19 13:37] texpert commented on #199
I'm also for `no_braces`.

[2020-07-20 09:04] DDKatch commented on #199
`[1, 2, one: 1, two: 2]` may mislead to think that the real value here is `[1, 2, {one: 1}, {two: 2}]` but actually `[1, 2, {one: 1, two: 2}]`. It may lead to mistakes.

[2020-07-20 09:10] DDKatch commented on #199
`[contactID: 'test']` convertes to `[{:contactID=>"test2"}]`. I always thought it's how ruby works 🤔
The issue(https://github.com/rubocop-hq/rubocop/issues/8323) was about parsing errors for a multiline array of hashes

[2020-07-21 00:00] roman-dubrovsky commented on #199
@DDKatch are you sure? in you case, you should write something like this (by this cop) `[1, 2, {one: 1}, two: 2]`. It looks suck but it's easy for refactoring or we can patch this rubocop rule in the future (e.g. restrict this rule for multiple array)

The issue(rubocop-hq/rubocop#8323) was about parsing errors for a multiline array of hashes

in my example above, ruby just overrides the value for

[2020-10-02 17:08] connorshea commented on #95
Since `where().first` and `find_by` aren't entirely equivalent, it might be a good idea to open an issue for this in the [rubocop-rails repo](https://github.com/rubocop-hq/rubocop-rails/issues) to at least discuss whether the cop should be autocorrectable.

[2020-11-07 14:02] roman-dubrovsky opened #215 "Prepare gem to 1.0.0 version"
- [x] update dependencies
- [x] update versioning rule
- [x] add changelog directory logs for 0-versions
- [x] check contributing file
- [x] review issues

[2020-11-07 14:12] roman-dubrovsky commented on #93
@roman-dubrovsky  Comment here: https://github.com/rubocop-hq/rubocop-rspec/issues/835

[2020-11-07 16:31] roman-dubrovsky opened #218 "Configure Style/TrailingCommaInHashLiteral cop"
I'd like to change the default value for `EnforcedStyleForMultiline ` for [this cop](https://docs.rubocop.org/rubocop/cops_style.html#styletrailingcommainhashliteral).

By default, this is `no_comma` and we remove last coman for multiline hash

[code]

By proposal, it using `consistent_comma` rule which is same approach which we use for our JS lintes (it adds a comma for last hash element)

[code]

[2020-11-07 20:24] texpert commented on #218
I'd love to stick with removing the last comma.

[2020-11-08 22:32] #215 closed

[2020-11-09 00:44] roman-dubrovsky commented on #199
this issue has been fixed https://github.com/datarockets/datarockets-style/issues/199#issuecomment-660365177

from documentation:

[code]

So I'm going to close this issue and leave `no_braces` style

[2020-11-09 00:44] #199 closed

[2020-11-09 00:50] roman-dubrovsky opened #219 "RSpec: prefer using `before` block instead of `setup`."
**Is your feature request related to a problem? Please describe.**
Not to use `setup` block and use `before` instead

[code]

See more: https://github.com/datarockets/datarockets-style/issues/93

[2020-11-09 00:51] roman-dubrovsky commented on #93
Open new issue instead of this https://github.com/datarockets/datarockets-style/issues/219

[2020-11-09 00:51] #93 closed

[2020-11-09 23:36] roman-dubrovsky commented on #181
new link

[2020-11-09 23:48] roman-dubrovsky opened #220 "Fix warnings"
**Is your feature request related to a problem? Please describe.**
After updating rubocop to `1.*.*`, get the next warnings

[code]

[2020-11-10 15:15] roman-dubrovsky commented on #181
Let's continue with the default value (5 votes vs 2 votes)

<img width="1597" alt="Screen Shot 2020-11-10 at 18 14 14" src="https://user-images.githubusercontent.com/7738063/98692817-98b95180-2380-11eb-8bda-391f94f0502f.png">

[2020-11-10 15:15] #181 closed

[2020-11-10 15:16] roman-dubrovsky commented on #218
Let's continue with new `consistent_comma`: 6 votes vs 4 votes

<img width="1597" alt="Screen Shot 2020-11-10 at 18 14 14" src="https://user-images.githubusercontent.com/7738063/98693074-e03fdd80-2380-11eb-901d-1bcfbf600b95.png">

@texpert do you have any strong objections?

[2020-11-10 15:21] roman-dubrovsky commented on #218
also we have the same result in the DeakMaker team 😄

<img width="965" alt="Screen Shot 2020-11-10 at 18 20 39" src="https://user-images.githubusercontent.com/7738063/98693616-8e4b8780-2381-11eb-934e-a43eaf4cc721.png">

[2020-11-10 18:11] texpert commented on #218
It is OK for me, @roman-dubrovsky :)

[2020-11-10 19:49] roman-dubrovsky commented on #220
This happens because of these changes https://github.com/rubocop-hq/rubocop/pull/8490

So this cop has the next class name `Datarockets::Style::Cop::Style::NestedInterpolation`, rubocop cut two first module and wants that name was `Cop/Style/NestedInterpolation`.

So easier way here, try to change modules `Datarockets::Style` to `DatarocketsStyle`. Also, we can try to path original logic, But I do

[2020-11-10 21:24] texpert commented on #220
Yeah, it seems easier and better to change our namespace.

[2020-11-23 16:52] mbj commented on #64
@nikitasakov, @roman-dubrovsky I just found this issue.

Just as a heads up: Mutant is now much better maintained (and still free to use for OSS projects). The `0.10.x` series is closely tracking the reminder of the ecosystem. Plus `unparser` got major updates that will make it easier to closely track `parser`.

I recommend to update to `mutant-0.10.x`.

[2020-11-23 19:47] roman-dubrovsky commented on #64
@mbj nice, thank you so much. I'll check it later.

[2020-11-23 20:11] mbj commented on #64
@roman-dubrovsky Have you been using mutant on this repo, or another repo where mutant conflicted with this repo?

[2020-11-25 16:30] roman-dubrovsky commented on #64
@mbj only in other repo for now

[2020-11-25 16:34] mbj commented on #64
@roman-dubrovsky is that other repo public?

[2021-01-12 15:25] roman-dubrovsky opened #233 "Configure other trailing comma cops"
Fix other cops with trailing comma as for this issue https://github.com/datarockets/datarockets-style/issues/218

[2021-01-12 15:26] #218 closed

[2021-01-18 20:08] dzhlobo opened #235 "Rename repository to "ruby-style-guide""
@roman-dubrovsky, I'd like to rename the repo not gem to "ruby-style-guide". It doesn't require a gem to be renamed but it would make it more descriptive on our https://github.com/datarockets page. Do you have any objections?

Right now we duplicate word "datarockets" twice: "datarockets/datarockets-style" and I think a new name would be nicer.

[2021-01-18 20:16] roman-dubrovsky commented on #235
ok, but I still prefer to leave it `datarockets-style` : easier searching in the browser (when you start printing gem name) + `we duplicate word "datarockets" twice` only in datarockets repo but `ruby-style-guide` can be confused for guys who fork this project.

[2021-01-18 21:09] DDKatch commented on #235
@roman-dubrovsky it is better to rename it, because a lot more people know about ruby and style guides not about datarockets style
<img width="1358" alt="Screen Shot 2021-01-19 at 12 00 24 AM" src="https://user-images.githubusercontent.com/14095146/104962494-95c68700-59e9-11eb-879b-936492eb852a.png">
It is easier to google for an average ruby developer (not only the datarocker), so it can become m

[2021-02-08 15:22] #177 closed

[2021-02-08 15:27] #220 closed

[2021-02-11 08:37] #219 closed

[2021-02-11 16:07] paydaylight commented on #179
@roman-dubrovsky what do you think, `alignment` and `indentation` are two separate concepts that are present in rubocop cops. Would it be better to separate this cop into two cops:
* cop that checks indentation of block internals for blocks in a hash
* cop that checks the alignment of `end` keyword for blocks in a hash

we can then set warnings if one of the cops is disabled as they should work to

[2021-02-16 06:58] #233 closed

[2021-02-16 09:16] paydaylight commented on #133
Seems this fixed in [this](https://github.com/rubocop-hq/rubocop/issues/8710) issue and released in [0.91.1](https://github.com/rubocop-hq/rubocop/blob/master/CHANGELOG.md#0911-2020-09-23).

[2021-02-17 15:11] roman-dubrovsky opened #251 "Fix Readme documention about using custom formatting"
Right now, when we copy command from Readme about using formatted we get  the next error

[code]

it should be

[code]

[2021-02-18 11:41] #251 closed

[2021-02-23 10:55] roman-dubrovsky commented on #124
seems like dependabot has been broker after removing `Gemfile.lock`. So we can't handle our dependencies automatically. So my proposal is to return `Gemfile.lock` to the project. ANy thoughts?  cc @nikitasakov @paydaylight

[2021-02-23 10:55] roman-dubrovsky commented on #124
cc @texpert

[2021-02-23 11:03] texpert commented on #124
What was the issue with Dependabot?

[2021-02-23 11:11] #133 closed

[2021-02-23 11:15] roman-dubrovsky opened #253 "Update rubocop to 1.10"
Link to the new release: https://github.com/rubocop-hq/rubocop/releases/tag/v1.10.0

To-Do list:

- [ ] update dependencies to the latest version
- [ ] investigate how it changes and affect our current styles and cops
- [ ] check the required ruby version
- [ ] enable pending cops

[2021-02-23 11:44] paydaylight commented on #124
@texpert apparently it can't update a dependency without Gemfile.lock. We discussed with @roman-dubrovsky that making dependencies strict in gemspec may solve this issue.

[2021-02-23 12:28] #253 closed

[2021-02-23 15:07] texpert commented on #124
Hm, what's the error? I have just installed Dependabot on my gem, and it has successfully created the PR - https://github.com/texpert/shrine-lambda/pull/17

[2021-02-24 11:23] #124 closed

[2021-05-04 15:11] dzhlobo commented on #235
I've renamed the repo to "ruby-style" for now and highlighted it on https://github.com/datarockets.

[2021-05-04 15:11] #235 closed

[2021-06-17 13:20] roman-dubrovsky opened #258 "Layout/ArrayAlignmentExtended works incorrectly"
Faced with this error

[code]

Seems like we have it in this line of code

[code]

For fixing , just need to setup this rule

[code]

[2022-02-18 10:23] roman-dubrovsky opened #259 "RSpec/EmptyExampleGroup does not work with Grape RSpec helpers"
**Is your feature request related to a problem? Please describe.**
`RSpec/EmptyExampleGroup` does not work correctly with `rspec-grape-entity` gem

<img width="847" alt="Screenshot 2022-02-18 at 11 22 45" src="https://user-images.githubusercontent.com/7738063/154664511-94c80480-3140-41a3-8176-eea2bc6fb4a9.png">

**Additional context.**
see https://github.com/DealMakerTech/dealmaker-rails/pull/3753

[2022-11-28 16:56] roman-dubrovsky opened #260 "Update * rubocop*"
Link to the new release: *link*

To-Do list:

- [x] update dependencies to the latest version
- [x] investigate how it changes and affect our current styles and cops
- [x] check the required ruby version
- [x] enable pending cops

[2022-11-28 16:56] roman-dubrovsky opened #261 "Update *rubocop-rails*"
Link to the new release: *link*

To-Do list:

- [x] update dependencies to the latest version
- [x] investigate how it changes and affect our current styles and cops
- [x] check the required ruby version
- [x] enable pending cops

[2022-11-28 16:57] roman-dubrovsky opened #262 "Update rubocop-rspec"
Link to the new release: *link*

To-Do list:

- [x] update dependencies to the latest version
- [x] investigate how it changes and affect our current styles and cops
- [x] check the required ruby version
- [x] enable pending cops

[2022-11-29 15:34] roman-dubrovsky opened #263 "Check Layout/LineEndStringConcatenationIndentation cop"
**Is your feature request related to a problem? Please describe.**
Check setting for cop

[code]

after fixing

[code]

[2022-11-29 15:36] roman-dubrovsky opened #264 "Check suggested extensions"
[code]

[2022-11-29 17:10] roman-dubrovsky opened #265 "Layout/FirstHashElementIndentation consistent does not work correctly"
Have issue with this cop on the project: https://docs.rubocop.org/rubocop/cops_layout.html#layoutfirsthashelementindentation

We have this configuration

[code]

But for that code (which looks correct)

[code]

we have this notifications

[code]

and rubocop corrects it to the next variant:

[code]

[2022-11-30 14:09] #262 closed, assigned to roman-dubrovsky

[2022-11-30 14:09] #260 closed

[2022-11-30 14:09] #261 closed

[2022-11-30 14:53] #32 closed